<ion-content padding fullscreen>
  <ion-grid fixed>

    <ion-col size="12" size-lg="3" size-md="5" size-sm="6" size-xs="12">

      <div class="liquidaci-n-terapeuta">
        <div class="rectangle-93"></div>
        <div class="rectangle-92"></div>
        <div class="liquidaci-n">Liquidación</div>
        <div class="rectangle-18"></div>
        <div class="rectangle-94"></div>
        <div class="terapeuta">Terapeuta</div>
        <div class="filtros">Filtros</div>
        <svg class="icon" width="25" height="23" viewBox="0 0 25 23" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M1.47178 3.45413C0.503441 2.35927 0.0192734 1.81184 0.00101043 1.34659C-0.0148546 0.942435 0.156827 0.553983 0.465134 0.296454C0.82004 0 1.54615 0 2.99838 0H22.0016C23.4538 0 24.18 0 24.5349 0.296454C24.8432 0.553983 25.0149 0.942435 24.999 1.34659C24.9807 1.81184 24.4966 2.35927 23.5282 3.45413L16.2226 11.7143C16.0296 11.9326 15.933 12.0417 15.8642 12.1659C15.8032 12.276 15.7584 12.3946 15.7313 12.5179C15.7007 12.6569 15.7007 12.8033 15.7007 13.0961V20.0217C15.7007 20.275 15.7007 20.4016 15.6603 20.5111C15.6247 20.6079 15.5666 20.6946 15.4911 20.764C15.4056 20.8426 15.2894 20.8896 15.0569 20.9837L10.7039 22.7452C10.2333 22.9356 9.99805 23.0308 9.80918 22.9911C9.64401 22.9564 9.49907 22.8571 9.40586 22.7149C9.29928 22.5522 9.29928 22.2958 9.29928 21.7831V13.0961C9.29928 12.8033 9.29928 12.6569 9.26871 12.5179C9.24159 12.3946 9.19681 12.276 9.13577 12.1659C9.06695 12.0417 8.97044 11.9326 8.77741 11.7143L1.47178 3.45413Z"
            stroke="#3C3C3C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>

        <div class="encargada" (click)="manager()">Encargada</div>
        <div class="rectangle-95"></div>
        <div class="nueva">Nueva</div>
        <svg class="x-circle" width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1_546)">
            <path
              d="M25.631 20.5646L15.3786 20.4449M20.5647 15.3786L20.4449 25.6309M28.9486 29.1481C24.175 33.8115 16.5248 33.7222 11.8614 28.9486C7.19799 24.175 7.28733 16.5247 12.0609 11.8613C16.8346 7.19792 24.4848 7.28726 29.1482 12.0609C33.8116 16.8345 33.7223 24.4847 28.9486 29.1481Z"
              stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </g>
          <defs>
            <clipPath id="clip0_1_546">
              <rect width="29" height="29" fill="white" transform="translate(20.7441) rotate(45.6691)" />
            </clipPath>
          </defs>
        </svg>

        <div class="frame-77">
          <div class="rectangle-96"></div>
          <div class="rectangle-106"></div>
          <div class="rectangle-97"></div>
          <div class="rectangle-107"></div>
          <div class="rectangle-98"></div>
          <div class="rectangle-108"></div>
          <div class="rectangle-100"></div>
          <div class="rectangle-109"></div>
          <div class="luc-a">Lucía</div>
          <div class="luc-a2">Lucía</div>
          <div class="laura">Laura</div>
          <div class="laura2">Laura</div>
          <div class="_5-15-6-23">5:15 - 6:23</div>
          <div class="_5-15-6-232">5:15 - 6:23</div>
          <div class="rectangle-101"></div>
          <div class="rectangle-110"></div>
          <div class="luc-a3">Lucía</div>
          <div class="luc-a4">Lucía</div>
          <div class="laura3">Laura</div>
          <div class="laura4">Laura</div>
          <div class="_5-15-6-233">5:15 - 6:23</div>
          <div class="_5-15-6-234">5:15 - 6:23</div>
          <div class="rectangle-102"></div>
          <div class="rectangle-111"></div>
          <div class="luc-a5">Lucía</div>
          <div class="luc-a6">Lucía</div>
          <div class="laura5">Laura</div>
          <div class="laura6">Laura</div>
          <div class="_5-15-6-235">5:15 - 6:23</div>
          <div class="_5-15-6-236">5:15 - 6:23</div>
          <div class="rectangle-103"></div>
          <div class="luc-a7">Lucía</div>
          <div class="laura7">Laura</div>
          <div class="_5-15-6-237">5:15 - 6:23</div>
          <div class="rectangle-99"></div>
          <div class="luc-a8">Lucía</div>
          <div class="laura8">Laura</div>
          <div class="_5-15-6-238">5:15 - 6:23</div>
          <div class="rectangle-104"></div>
          <div class="rectangle-114"></div>
          <div class="rectangle-105"></div>
          <div class="encargada2">Encargada</div>
          <div class="luc-a9">Lucía</div>
          <div class="luc-a10">Lucía</div>
          <div class="luc-a11">Lucía</div>
          <div class="luc-a12">Lucía</div>
          <div class="luc-a13">Lucía</div>
          <div class="luc-a14">Lucía</div>
          <div class="luc-a15">Lucía</div>
          <div class="luc-a16">Lucía</div>
          <div class="laura9">Laura</div>
          <div class="laura10">Laura</div>
          <div class="laura11">Laura</div>
          <div class="laura12">Laura</div>
          <div class="laura13">Laura</div>
          <div class="laura14">Laura</div>
          <div class="laura15">Laura</div>
          <div class="laura16">Laura</div>
          <div class="_5-15-6-239">5:15 - 6:23</div>
          <div class="_5-15-6-2310">5:15 - 6:23</div>
          <div class="_5-15-6-2311">5:15 - 6:23</div>
          <div class="_5-15-6-2312">5:15 - 6:23</div>
          <div class="_5-15-6-2313">5:15 - 6:23</div>
          <div class="_5-15-6-2314">5:15 - 6:23</div>
          <div class="_5-15-6-2315">5:15 - 6:23</div>
          <div class="_5-15-6-2316">5:15 - 6:23</div>
          <div class="terapeuta2">Terapeuta</div>
          <div class="importe">Importe</div>
          <div class="_22-01-24-23-25">22/01/24 23:25</div>
          <div class="_22-01-24-23-252">22/01/24 23:25</div>
          <div class="_22-01-24-23-253">22/01/24 23:25</div>
          <div class="_22-01-24-23-254">22/01/24 23:25</div>
          <div class="_22-01-24-23-255">22/01/24 23:25</div>
          <div class="_22-01-24-23-256">22/01/24 23:25</div>
          <div class="_22-01-24-23-257">22/01/24 23:25</div>
          <div class="_22-01-24-23-258">22/01/24 23:25</div>
          <div class="_22-01-24-23-257">22/01/24 23:25</div>
          <div class="_22-01-24-23-258">22/01/24 23:25</div>
          <div class="_22-01-24-23-259">22/01/24 23:25</div>
          <div class="_22-01-24-23-2510">22/01/24 23:25</div>
          <div class="_22-01-24-23-2511">22/01/24 23:25</div>
          <div class="_22-01-24-23-2512">22/01/24 23:25</div>
          <div class="_22-01-24-23-2513">22/01/24 23:25</div>
          <div class="_22-01-24-23-2514">22/01/24 23:25</div>
          <div class="_22-01-24-23-2515">22/01/24 23:25</div>
          <div class="_22-01-24-23-2516">22/01/24 23:25</div>
          <div class="_22-01-24-23-2517">22/01/24 23:25</div>
          <div class="_22-01-24-23-2518">22/01/24 23:25</div>
          <div class="tarjeta">Tarjeta</div>
          <div class="tarjeta2">Tarjeta</div>
          <div class="_1">1</div>
          <div class="_12">1</div>
          <div class="_13">1</div>
          <div class="_14">1</div>
          <div class="_15">1</div>
          <div class="_16">1</div>
          <div class="_17">1</div>
          <div class="_18">1</div>
          <div class="_19">1</div>
          <div class="_110">1</div>
          <div class="_111">1</div>
          <div class="_112">1</div>
          <div class="_113">1</div>
          <div class="_114">1</div>
          <div class="_115">1</div>
          <div class="_116">1</div>
          <div class="tarjeta3">Tarjeta</div>
          <div class="tarjeta4">Tarjeta</div>
          <div class="tarjeta5">Tarjeta</div>
          <div class="tarjeta6">Tarjeta</div>
          <div class="tarjeta7">Tarjeta</div>
          <div class="tarjeta8">Tarjeta</div>
          <div class="tarjeta9">Tarjeta</div>
          <div class="tarjeta10">Tarjeta</div>
          <div class="tarjeta11">Tarjeta</div>
          <div class="tarjeta12">Tarjeta</div>
          <div class="tarjeta13">Tarjeta</div>
          <div class="tarjeta14">Tarjeta</div>
          <div class="tarjeta15">Tarjeta</div>
          <div class="tarjeta16">Tarjeta</div>
          <div class="_22-01-24-23-2519">22/01/24 23:25</div>
          <div class="_22-01-24-23-2520">22/01/24 23:25</div>
          <div class="_22-01-24-23-2521">22/01/24 23:25</div>
          <div class="_22-01-24-23-2522">22/01/24 23:25</div>
          <div class="_22-01-24-23-2523">22/01/24 23:25</div>
          <div class="_22-01-24-23-2524">22/01/24 23:25</div>
          <div class="_22-01-24-23-2523">22/01/24 23:25</div>
          <div class="_22-01-24-23-2524">22/01/24 23:25</div>
          <div class="_22-01-24-23-2525">22/01/24 23:25</div>
          <div class="_22-01-24-23-2526">22/01/24 23:25</div>
          <div class="_22-01-24-23-2527">22/01/24 23:25</div>
          <div class="_22-01-24-23-2528">22/01/24 23:25</div>
          <div class="_22-01-24-23-2529">22/01/24 23:25</div>
          <div class="_22-01-24-23-2530">22/01/24 23:25</div>
          <div class="_22-01-24-23-2531">22/01/24 23:25</div>
          <div class="_22-01-24-23-2532">22/01/24 23:25</div>
          <div class="desde">Desde</div>
          <div class="hasta">Hasta</div>
          <div class="pago">Pago</div>
          <div class="tratamiento">Tratamiento</div>
        </div>
        <div class="_28-de-enero">28 de enero</div>
        <div class="rectangle-10"></div>

        <svg class="icon2" width="12" height="24" viewBox="0 0 12 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 24L12 12L0 0" stroke="#3C3C3C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <svg class="icon3" width="12" height="24" viewBox="0 0 12 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 0L1.04907e-06 12L12 24" stroke="#3C3C3C" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </div>

    </ion-col>
  </ion-grid>
</ion-content>