html:not(.hydrated) body {
    display: flex;
}

.RECOVER {
    background: #0B9B7A;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.RECOVER .div {
    background-color: #0B9B7A;
    overflow-x: hidden;
    width: 375px;
    height: 1971px;
    position: relative;
}

.RECOVER .overlap {
    position: absolute;
    width: 371px;
    height: 364px;
    top: 45px;
    left: 20px;
}

.RECOVER .group {
    position: absolute;
    width: 371px;
    height: 364px;
    top: 0;
    left: 0;
}

.RECOVER .overlap-group {
    position: relative;
    width: 335px;
    height: 364px;
    border-radius: 15px;
}

.RECOVER .text-wrapper-3 {
    position: absolute;
    height: 25px;
    top: 28px;
    left: 36px;
    font-family: "Inter-Medium", sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 25px;
    white-space: nowrap;
}

.RECOVER .text-wrapper-4 {
    border-radius: 15px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    width: 284px;
    height: 50px;
    position: absolute;
    left: 22px;
    top: 59px;
}

.RECOVER .input-1 {
    height: 25px;
    top: 61px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    position: absolute;
    left: 34px;
    letter-spacing: 0;
    white-space: nowrap;
}

.sc-ion-input-md-h[name=correo] {
    border-style: none;
    color: white;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    width: 260px;
    left: 132px;
    top: 321px;
    --highlight-color-focused: transparent;
    --highlight-color: transparent;
}

.sc-ion-input-md-h[name=correo] ::ng-deep input {
    caret-color: black;
}

.RECOVER .text-wrapper-5 {
    position: absolute;
    height: 25px;
    top: 135px;
    left: 36px;
    font-family: "Inter-Medium", sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 25px;
    white-space: nowrap;
}

.RECOVER .text-wrapper-6 {
    border-radius: 15px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    width: 284px;
    height: 50px;
    position: absolute;
    left: 22px;
    top: 166px;
}

.RECOVER .input-2 {
    height: 25px;
    top: 170px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    position: absolute;
    left: 34px;
    letter-spacing: 0;
    white-space: nowrap;
}

.sc-ion-input-md-h[name=pass] {
    border-style: none;
    color: white;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    width: 260px;
    left: 132px;
    top: 161px;
    --highlight-color-focused: transparent;
    --highlight-color: transparent;
}

.sc-ion-input-md-h[name=pass] ::ng-deep input {
    caret-color: black;
}

.btnRecover {
    position: absolute;
    left: 22px;
    top: 249px;
    width: 284px;
    height: 53px;
    border-radius: 15px;
    color: #0B9B7A;
    font-family: "Inter-bold", sans-serif;
    font-size: 25px;
    line-height: 125%;
    font-weight: 700;
}

.RECOVER .text-wrapper-7 {
    position: absolute;
    height: 25px;
    top: 319px;
    left: 22px;
    font-family: "Inter-Medium", sans-serif;
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 25px;
    white-space: nowrap;
}

.RECOVER .div4 {
    position: absolute;
    text-align: -webkit-center;
    height: 90%;
    top: 425px;
    left: -10px;
}

.RECOVER .div4 .icon {
    width: 40%;
}