<ion-content padding fullscreen>
  <ion-grid fixed>
    <ion-col size="12" size-lg="3" size-md="5" size-sm="6" size-xs="12" id="location">

      <div class="nueva-liquidaci-n">
        <div class="rectangle-93"></div>
        <img class="icon" src="icon0.svg" />
        <div class="rectangle-92"></div>
        <div class="nueva-liquidaci-n2">
          Nueva
          <br />
          Liquidación
        </div>
        <div class="rectangle-77"></div>
        <div class="group-30">
          <div class="guardar">Guardar</div>
          <img class="save" src="save0.svg" />
        </div>
        <div class="total-liquidaci-n">
          TOTAL
          <br />
          LIQUIDACIÓN
        </div>
        <div class="_0">0€</div>
        <div class="component-3">
          <div class="rectangle-4"></div>
          <div class="selecciona">5 feb. 2024</div>
        </div>
        <div class="component-9">
          <div class="rectangle-4"></div>
          <div class="_5-34-p-m">5:34 p.m.</div>
        </div>
        <div class="component-10">
          <div class="rectangle-4"></div>
          <div class="_7-12-p-m">7:12 p.m.</div>
        </div>
        <div class="component-8">
          <div class="rectangle-4"></div>
          <div class="_6-feb-2024">6 feb. 2024</div>
        </div>
        <div class="rectangle-42"></div>
        <div class="rectangle-94"></div>
        <div class="concepto-a-regularizar">Concepto a regularizar</div>
        <div class="div">€</div>
        <div class="inicial">Inicial</div>
        <div class="final">Final</div>
        <img class="x-close" src="x-close0.svg" />
        <div class="encargada">Encargada</div>
        <div class="component-82">
          <div class="rectangle-34"></div>
          <div class="seleccionar">Seleccionar</div>
          <img class="icon2" src="icon1.svg" />
        </div>
        <div class="terapeuta">Terapeuta</div>
        <div class="component-7">
          <div class="rectangle-34"></div>
          <div class="seleccionar">Seleccionar</div>
          <img class="icon3" src="icon2.svg" />
        </div>
        <div class="tratamiento">Tratamiento</div>
        <div class="efectivo">Efectivo</div>
        <div class="_222">222€</div>
        <div class="_2222">222€</div>
        <div class="_02">0€</div>
        <div class="_2223">222€</div>
        <div class="_2224">222€</div>
        <div class="_100">100%</div>
        <div class="_03">0€</div>
        <div class="_04">0€</div>
        <div class="_05">0€</div>
        <div class="_06">0€</div>
        <div class="_1002">100%</div>
        <div class="_07">0€</div>
        <div class="_08">0€</div>
        <div class="_09">0€</div>
        <div class="_50">50%</div>
        <div class="_010">0€</div>
        <div class="_011">0€</div>
        <div class="_012">0€</div>
        <div class="_013">0€</div>
        <div class="_90">90%</div>
        <div class="_014">0€</div>
        <div class="_015">0€</div>
        <div class="_1003">100%</div>
        <div class="_016">0€</div>
        <div class="_017">0€</div>
        <div class="_1004">100%</div>
        <div class="_018">0€</div>
        <div class="_019">0€</div>
        <div class="_1005">100%</div>
        <div class="suma">Suma</div>
        <div class="pagado-al-terapeuta">Pagado al terapeuta</div>
        <div class="m-todo-de-pago-al-terapeuta">Método de pago al Terapeuta</div>
        <div class="comisi-n">Comisión</div>
        <div class="total">Total</div>
        <div class="propina">Propina</div>
        <div class="bizum">Bizum</div>
        <div class="bebida-a-casa">Bebida a casa</div>
        <div class="tarjeta">Tarjeta</div>
        <div class="bebida-terap">Bebida Terap</div>
        <div class="transferencia">Transferencia</div>
        <div class="tabaco">Tabaco</div>
        <div class="vitamina">Vitamina</div>
        <div class="otros">Otros</div>
        <div class="suma2">Suma</div>
        <div class="recibido">Recibido</div>
        <div class="total-a-pagar">Total a pagar</div>
        <div class="total-a-pagar2">Total a pagar</div>
        <div class="rectangle-108"></div>
        <div class="rectangle-110"></div>
        <div class="rectangle-111"></div>
        <div class="rectangle-109"></div>
        <div class="group-52">
          <div class="rectangle-41"></div>
          <div class="bizum2">Bizum</div>
        </div>
        <div class="group-53">
          <div class="rectangle-37"></div>
          <div class="efectivo2">Efectivo</div>
        </div>
        <div class="group-54">
          <div class="rectangle-39"></div>
          <div class="tarjeta2">Tarjeta</div>
        </div>
        <div class="group-55">
          <div class="rectangle-40"></div>
          <div class="transferencia2">Transferencia</div>
        </div>
        <div class="barra">
          <img class="group-102" src="group-1020.svg" />
        </div>
      </div>

    </ion-col>
  </ion-grid>
</ion-content>