.servicios,
.servicios * {
  box-sizing: border-box;
}

ion-grid {
  background: var(--verde-claro, #e8f2ef);
  width: -webkit-fill-available;
  height: min-content;
  position: absolute;
  left: 0px;
  top: 0px;
}

.servicios {
  background: #ffffff;
  height: 1113px;
  position: relative;
}

.rectangle-93 {
  background: var(--verde-claro, #e8f2ef);
  width: -webkit-fill-available;
  height: 1072px;
  position: absolute;
  left: 0px;
  top: 41px;
}

.rectangle-92 {
  background: var(--verde, #1fb996);
  width: -webkit-fill-available;
  height: 370px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.servicios-realizados {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  line-height: 115%;
  font-weight: 700;
  position: absolute;
  left: 34px;
  top: 96px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.group-77 {
  position: absolute;
  inset: 0;
}

.group-40 {
  width: 55.04px;
  height: 23.42px;
  position: static;
}

.filtros {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 308.96px;
  top: 312px;
  width: 55.04px;
  height: 23.42px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.capa-1 {
  width: 27px;
  height: 29px;
  position: absolute;
  left: 230px;
  top: 309px;
  overflow: visible;
}

.icon {
  width: 6.13%;
  height: 2.07%;
  position: absolute;
  right: 88.53%;
  left: 5.33%;
  bottom: 69.9%;
  top: 28.03%;
  overflow: visible;
}

.icon2 {
  border-radius: 0px;
  width: 6.67%;
  height: 2.07%;
  position: absolute;
  right: 19.2%;
  left: 74.13%;
  bottom: 69.9%;
  top: 28.03%;
  overflow: visible;
}

.group-17 {
  position: absolute;
  inset: 0;
}

.group-2 {
  width: 122px;
  height: 30px;
  position: static;
}

._28-de-enero {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 59.5px);
  top: 156px;
  width: 118px;
  height: 29px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.rectangle-10 {
  background: #ffffff;
  border-radius: 30px;
  width: 122px;
  height: 2px;
  position: absolute;
  left: calc(50% - 61.5px);
  top: 184px;
}

.icon3 {
  width: 3.2%;
  height: 2.16%;
  position: absolute;
  right: 5.33%;
  left: 91.47%;
  bottom: 83.56%;
  top: 14.29%;
  overflow: visible;
}

.icon4 {
  width: 3.2%;
  height: 2.16%;
  position: absolute;
  right: 88.27%;
  left: 8.53%;
  bottom: 81.4%;
  top: 16.44%;
  transform: translate(-13px, -25px);
  overflow: visible;
}

.frame-76 {
  width: 355px;
  height: 587px;
  position: absolute;
  left: 20px;
  top: 399px;
  overflow-x: auto;
}

.rectangle-96 {
  background: #ffffff;
  border-radius: 15px;
  width: 452px;
  height: 54px;
  position: absolute;
  left: calc(50% - 177.5px);
  top: 102px;
}

.rectangle-97 {
  background: #ffffff;
  border-radius: 15px;
  width: 452px;
  height: 54px;
  position: absolute;
  left: calc(50% - 177.5px);
  top: 163px;
}

.rectangle-98 {
  background: #ffffff;
  border-radius: 15px;
  width: 452px;
  height: 54px;
  position: absolute;
  left: calc(50% - 177.5px);
  top: 224px;
}

.rectangle-99 {
  background: #ffffff;
  border-radius: 15px;
  width: 452px;
  height: 54px;
  position: absolute;
  left: calc(50% - 177.5px);
  top: 285px;
}

.luc-a {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 42px;
  top: 301px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.laura {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 140px;
  top: 301px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._5-15-6-23 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 224px;
  top: 301px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.rectangle-992 {
  background: #ffffff;
  border-radius: 15px;
  width: 452px;
  height: 54px;
  position: absolute;
  left: calc(50% - 177.5px);
  top: 347px;
}

.luc-a2 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 42px;
  top: 363px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.laura2 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 140px;
  top: 363px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._5-15-6-232 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 224px;
  top: 363px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.rectangle-993 {
  background: #ffffff;
  border-radius: 15px;
  width: 452px;
  height: 54px;
  position: absolute;
  left: calc(50% - 177.5px);
  top: 409px;
}

.luc-a3 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 42px;
  top: 425px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.laura3 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 140px;
  top: 425px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._5-15-6-233 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 224px;
  top: 425px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.rectangle-994 {
  background: #ffffff;
  border-radius: 15px;
  width: 452px;
  height: 54px;
  position: absolute;
  left: calc(50% - 177.5px);
  top: 471px;
}

.luc-a4 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 42px;
  top: 487px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.laura4 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 140px;
  top: 487px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._5-15-6-234 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 224px;
  top: 487px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.rectangle-995 {
  background: #ffffff;
  border-radius: 15px;
  width: 452px;
  height: 54px;
  position: absolute;
  left: calc(50% - 177.5px);
  top: 533px;
}

.luc-a5 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 42px;
  top: 549px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.laura5 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 140px;
  top: 549px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._5-15-6-235 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 224px;
  top: 549px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.rectangle-94 {
  background: #ffffff;
  border-radius: 15px;
  width: 452px;
  height: 54px;
  position: absolute;
  left: calc(50% - 177.5px);
  top: 41px;
}

.rectangle-95 {
  background: var(--verde-oscuro, #0b9a7a);
  border-radius: 10px;
  width: 452px;
  height: 34px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.terapeuta {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 28px;
  top: 7px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.luc-a6 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 42px;
  top: 57px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.luc-a7 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 42px;
  top: 118px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.luc-a8 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 42px;
  top: 179px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.luc-a9 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 42px;
  top: 240px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.laura6 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 140px;
  top: 57px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.laura7 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 140px;
  top: 118px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.laura8 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 140px;
  top: 179px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.laura9 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 140px;
  top: 240px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._5-15-6-236 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 224px;
  top: 57px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._5-15-6-237 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 224px;
  top: 118px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._5-15-6-238 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 224px;
  top: 179px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._5-15-6-239 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 224px;
  top: 240px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.encargada {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 126px;
  top: 7px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.tiempo {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 246px;
  top: 7px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._120 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 370px;
  top: 57px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._1202 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 370px;
  top: 118px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._1203 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 370px;
  top: 179px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._1204 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 370px;
  top: 240px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._1205 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 370px;
  top: 301px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._1206 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 370px;
  top: 363px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._1207 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 370px;
  top: 425px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._1208 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 370px;
  top: 487px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._1209 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 370px;
  top: 549px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.ellipse-18 {
  background: var(--verde, #1fb996);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 20px;
  top: 66px;
}

.ellipse-19 {
  background: var(--verde, #1fb996);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 20px;
  top: 251px;
}

.importe {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 355px;
  top: 7px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.component-9 {
  width: 335px;
  height: 50px;
  position: absolute;
  left: calc(50% - 167.5px);
  top: 215px;
}

.rectangle-18 {
  background: #ffffff;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}

.icon5 {
  width: 2.69%;
  height: 38%;
  position: absolute;
  right: 4.18%;
  left: 93.13%;
  bottom: 22%;
  top: 40%;
  transform: translate(-20px, -1px);
  overflow: visible;
}

.total {
  color: var(--verde-oscuro, #0b9a7a);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  line-height: 115%;
  font-weight: 500;
  position: absolute;
  right: 75.82%;
  left: 7.16%;
  width: 17.01%;
  bottom: 22%;
  top: 22%;
  height: 56%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._370 {
  color: var(--verde-oscuro, #0b9a7a);
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 24px;
  line-height: 115%;
  font-weight: 500;
  position: absolute;
  right: 19.7%;
  left: 62.09%;
  width: 18.21%;
  bottom: 22%;
  top: 22%;
  height: 56%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}