<ion-content padding fullscreen>
  <ion-grid fixed>
    <ion-col size="12" size-lg="3" size-md="5" size-sm="6" size-xs="12">

      <div class="cierre">
        <div class="rectangle-93"></div>
        <div class="rectangle-92"></div>
        <div class="cierre2">Cierre</div>
        <div class="rectangle-95"></div>
        <div class="nuevo">Nuevo</div>
        <svg class="x-circle" width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1_866)">
            <path
              d="M25.631 20.5641L15.3786 20.4444M20.5647 15.3781L20.4449 25.6304M28.9486 29.1476C24.175 33.8111 16.5248 33.7217 11.8614 28.9481C7.19799 24.1745 7.28733 16.5243 12.0609 11.8608C16.8346 7.19743 24.4848 7.28677 29.1482 12.0604C33.8116 16.834 33.7223 24.4842 28.9486 29.1476Z"
              stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </g>
          <defs>
            <clipPath id="clip0_1_866">
              <rect width="29" height="29" fill="white" transform="translate(20.7441) rotate(45.6691)" />
            </clipPath>
          </defs>
        </svg>

        <div class="frame-77">
          <div class="rectangle-96"></div>
          <div class="rectangle-106"></div>
          <div class="rectangle-97"></div>
          <div class="rectangle-107"></div>
          <div class="rectangle-98"></div>
          <div class="rectangle-108"></div>
          <div class="rectangle-100"></div>
          <div class="rectangle-109"></div>
          <div class="luc-a">Lucía</div>
          <div class="luc-a2">Lucía</div>
          <div class="rectangle-101"></div>
          <div class="rectangle-110"></div>
          <div class="luc-a3">Lucía</div>
          <div class="luc-a4">Lucía</div>
          <div class="rectangle-102"></div>
          <div class="rectangle-111"></div>
          <div class="luc-a5">Lucía</div>
          <div class="luc-a6">Lucía</div>
          <div class="rectangle-103"></div>
          <div class="luc-a7">Lucía</div>
          <div class="rectangle-99"></div>
          <div class="luc-a8">Lucía</div>
          <div class="rectangle-104"></div>
          <div class="rectangle-114"></div>
          <div class="rectangle-105"></div>
          <div class="encargada">Encargada</div>
          <div class="luc-a9">Lucía</div>
          <div class="luc-a10">Lucía</div>
          <div class="luc-a11">Lucía</div>
          <div class="luc-a12">Lucía</div>
          <div class="luc-a13">Lucía</div>
          <div class="luc-a14">Lucía</div>
          <div class="luc-a15">Lucía</div>
          <div class="luc-a16">Lucía</div>
          <div class="_22-01-24-23-25">22/01/24 23:25</div>
          <div class="_22-01-24-23-252">22/01/24 23:25</div>
          <div class="_22-01-24-23-253">22/01/24 23:25</div>
          <div class="_22-01-24-23-254">22/01/24 23:25</div>
          <div class="_22-01-24-23-255">22/01/24 23:25</div>
          <div class="_22-01-24-23-256">22/01/24 23:25</div>
          <div class="_22-01-24-23-257">22/01/24 23:25</div>
          <div class="_22-01-24-23-258">22/01/24 23:25</div>
          <div class="_22-01-24-23-257">22/01/24 23:25</div>
          <div class="_22-01-24-23-258">22/01/24 23:25</div>
          <div class="_22-01-24-23-259">22/01/24 23:25</div>
          <div class="_22-01-24-23-2510">22/01/24 23:25</div>
          <div class="_22-01-24-23-2511">22/01/24 23:25</div>
          <div class="_22-01-24-23-2512">22/01/24 23:25</div>
          <div class="_22-01-24-23-2513">22/01/24 23:25</div>
          <div class="_22-01-24-23-2514">22/01/24 23:25</div>
          <div class="_22-01-24-23-2515">22/01/24 23:25</div>
          <div class="_22-01-24-23-2516">22/01/24 23:25</div>
          <div class="_22-01-24-23-2517">22/01/24 23:25</div>
          <div class="_22-01-24-23-2518">22/01/24 23:25</div>
          <div class="_1">1</div>
          <div class="_12">1</div>
          <div class="_13">1</div>
          <div class="_14">1</div>
          <div class="_15">1</div>
          <div class="_16">1</div>
          <div class="_17">1</div>
          <div class="_18">1</div>
          <div class="_19">1</div>
          <div class="_110">1</div>
          <div class="_111">1</div>
          <div class="_112">1</div>
          <div class="_113">1</div>
          <div class="_114">1</div>
          <div class="_115">1</div>
          <div class="_116">1</div>
          <div class="_117">1</div>
          <div class="_118">1</div>
          <div class="_119">1</div>
          <div class="_120">1</div>
          <div class="_121">1</div>
          <div class="_122">1</div>
          <div class="_123">1</div>
          <div class="_124">1</div>
          <div class="_125">1</div>
          <div class="_126">1</div>
          <div class="_127">1</div>
          <div class="_128">1</div>
          <div class="_129">1</div>
          <div class="_130">1</div>
          <div class="_131">1</div>
          <div class="_132">1</div>
          <div class="_22-01-24-23-2519">22/01/24 23:25</div>
          <div class="_22-01-24-23-2520">22/01/24 23:25</div>
          <div class="_22-01-24-23-2521">22/01/24 23:25</div>
          <div class="_22-01-24-23-2522">22/01/24 23:25</div>
          <div class="_22-01-24-23-2523">22/01/24 23:25</div>
          <div class="_22-01-24-23-2524">22/01/24 23:25</div>
          <div class="_22-01-24-23-2523">22/01/24 23:25</div>
          <div class="_22-01-24-23-2524">22/01/24 23:25</div>
          <div class="_22-01-24-23-2525">22/01/24 23:25</div>
          <div class="_22-01-24-23-2526">22/01/24 23:25</div>
          <div class="_22-01-24-23-2527">22/01/24 23:25</div>
          <div class="_22-01-24-23-2528">22/01/24 23:25</div>
          <div class="_22-01-24-23-2529">22/01/24 23:25</div>
          <div class="_22-01-24-23-2530">22/01/24 23:25</div>
          <div class="_22-01-24-23-2531">22/01/24 23:25</div>
          <div class="_22-01-24-23-2532">22/01/24 23:25</div>
          <div class="desde">Desde</div>
          <div class="hasta">Hasta</div>
          <div class="efectivo">Efectivo</div>
          <div class="bizum">Bizum</div>
          <div class="tarjeta">Tarjeta</div>
          <div class="transf">Transf</div>
          <div class="tratamiento">Tratamiento</div>
          <div class="total">Total</div>
        </div>
        <div class="_28-de-enero">28 de enero</div>
        <div class="rectangle-10"></div>

        <svg class="icon" width="12" height="24" viewBox="0 0 12 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 24L12 12L0 0" stroke="#3C3C3C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <svg class="icon2" width="12" height="24" viewBox="0 0 12 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 0L1.04907e-06 12L12 24" stroke="#3C3C3C" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
        <div class="_222">222€</div>
        <div class="_2222">222€</div>
        <div class="_2223">222€</div>
        <div class="_2224">222€</div>
        <div class="_2225">222€</div>
        <div class="_2226">222€</div>
        <div class="_2227">222€</div>
        <div class="_2228">222€</div>
        <div class="_2229">222€</div>
        <div class="_22210">222€</div>
        <div class="_22211">222€</div>
        <div class="_22212">222€</div>
        <div class="_22213">222€</div>
        <div class="_22214">222€</div>
        <div class="_22215">222€</div>
        <div class="_22216">222€</div>
        <div class="_22217">222€</div>
        <div class="_22218">222€</div>
        <div class="_22219">222€</div>
        <div class="_22220">222€</div>
        <div class="_22221">222€</div>
        <div class="_22222">222€</div>
        <div class="_22223">222€</div>
        <div class="_22224">222€</div>
        <div class="_22225">222€</div>
        <div class="_22226">222€</div>
        <div class="_22227">222€</div>
        <div class="_22228">222€</div>
        <div class="_22229">222€</div>
        <div class="_22230">222€</div>
        <div class="_22231">222€</div>
        <div class="_22232">222€</div>
        <div class="_22233">222€</div>
        <div class="_22234">222€</div>
        <div class="_22235">222€</div>
        <div class="_22236">222€</div>
        <div class="_22237">222€</div>
        <div class="_22238">222€</div>
        <div class="_22239">222€</div>
        <div class="_22240">222€</div>
        <div class="_22241">222€</div>
        <div class="_22242">222€</div>
        <div class="_22243">222€</div>
        <div class="_22244">222€</div>
        <div class="_22245">222€</div>
        <div class="_22246">222€</div>
        <div class="_22247">222€</div>
        <div class="_22248">222€</div>
        <div class="_22249">222€</div>
        <div class="_22250">222€</div>
        <div class="_22251">222€</div>
        <div class="_22252">222€</div>
        <div class="_22253">222€</div>
        <div class="_22254">222€</div>
        <div class="_22255">222€</div>
        <div class="_22256">222€</div>
        <div class="_22257">222€</div>
        <div class="_22258">222€</div>
        <div class="_22259">222€</div>
        <div class="_22260">222€</div>
        <div class="_22261">222€</div>
        <div class="_22262">222€</div>
        <div class="_22263">222€</div>
        <div class="_22264">222€</div>
      </div>

    </ion-col>
  </ion-grid>
</ion-content>