.cierre,
.cierre * {
    box-sizing: border-box;
}

ion-grid {
    background: var(--verde-claro, #e8f2ef);
    width: -webkit-fill-available;
    height: min-content;
    position: absolute;
    left: 0px;
    top: 0px;
}

.cierre {
    background: #ffffff;
    height: 1460px;
    position: relative;
}

.rectangle-93 {
    background: var(--verde-claro, #e8f2ef);
    // width: 375px;
    width: -webkit-fill-available;
    height: 1419px;
    position: absolute;
    left: 0px;
    top: 41px;
}

.rectangle-92 {
    background: var(--verde, #1fb996);
    // width: 375px;
    width: -webkit-fill-available;
    height: 173px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.cierre2 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 32px;
    line-height: 115%;
    font-weight: 700;
    position: absolute;
    left: 20px;
    top: 93px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.group-78 {
    position: absolute;
    inset: 0;
}

.rectangle-95 {
    background: var(--verde, #1fb996);
    border-radius: 15px;
    width: 115px;
    height: 40px;
    position: absolute;
    left: calc(50% - -53.5px);
    top: 207px;
}

.nuevo {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 500;
    position: absolute;
    left: 288px;
    top: 218px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.x-circle {
    width: 29px;
    height: 29px;
    position: absolute;
    // left: 267.74px;
    // top: 207px;
    left: 277.74px;
    top: 212px;
    transform: translate(-20.74px, 0px);
    overflow: visible;
}

.frame-77 {
    width: 355px;
    height: 1017px;
    position: absolute;
    left: 20px;
    top: 333px;
    overflow-y: hidden;
    overflow-x: scroll;
}

.rectangle-96 {
    background: #ffffff;
    border-radius: 15px;
    width: 1004px;
    height: 54px;
    position: absolute;
    left: calc(50% - 177.5px);
    top: 102px;
}

.rectangle-106 {
    background: #ffffff;
    border-radius: 15px;
    width: 1004px;
    height: 54px;
    position: absolute;
    left: calc(50% - 177.5px);
    top: 656px;
}

.rectangle-97 {
    background: #ffffff;
    border-radius: 15px;
    width: 1004px;
    height: 54px;
    position: absolute;
    left: calc(50% - 177.5px);
    top: 163px;
}

.rectangle-107 {
    background: #ffffff;
    border-radius: 15px;
    width: 1004px;
    height: 54px;
    position: absolute;
    left: calc(50% - 177.5px);
    top: 717px;
}

.rectangle-98 {
    background: #ffffff;
    border-radius: 15px;
    width: 1004px;
    height: 54px;
    position: absolute;
    left: calc(50% - 177.5px);
    top: 224px;
}

.rectangle-108 {
    background: #ffffff;
    border-radius: 15px;
    width: 1004px;
    height: 54px;
    position: absolute;
    left: calc(50% - 177.5px);
    top: 778px;
}

.rectangle-100 {
    background: #ffffff;
    border-radius: 15px;
    width: 1004px;
    height: 54px;
    position: absolute;
    left: calc(50% - 177.5px);
    top: 285px;
}

.rectangle-109 {
    background: #ffffff;
    border-radius: 15px;
    width: 1004px;
    height: 54px;
    position: absolute;
    left: calc(50% - 177.5px);
    top: 839px;
}

.luc-a {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 27px;
    top: 301px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.luc-a2 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 27px;
    top: 855px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.rectangle-101 {
    background: #ffffff;
    border-radius: 15px;
    width: 1004px;
    height: 54px;
    position: absolute;
    left: calc(50% - 177.5px);
    top: 347px;
}

.rectangle-110 {
    background: #ffffff;
    border-radius: 15px;
    width: 1004px;
    height: 54px;
    position: absolute;
    left: calc(50% - 177.5px);
    top: 901px;
}

.luc-a3 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 27px;
    top: 363px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.luc-a4 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 27px;
    top: 917px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.rectangle-102 {
    background: #ffffff;
    border-radius: 15px;
    width: 1004px;
    height: 54px;
    position: absolute;
    left: calc(50% - 177.5px);
    top: 409px;
}

.rectangle-111 {
    background: #ffffff;
    border-radius: 15px;
    width: 1004px;
    height: 54px;
    position: absolute;
    left: calc(50% - 177.5px);
    top: 963px;
}

.luc-a5 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 27px;
    top: 425px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.luc-a6 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 27px;
    top: 979px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.rectangle-103 {
    background: #ffffff;
    border-radius: 15px;
    width: 1004px;
    height: 54px;
    position: absolute;
    left: calc(50% - 177.5px);
    top: 471px;
}

.luc-a7 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 27px;
    top: 487px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.rectangle-99 {
    background: #ffffff;
    border-radius: 15px;
    width: 1004px;
    height: 54px;
    position: absolute;
    left: calc(50% - 177.5px);
    top: 533px;
}

.luc-a8 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 27px;
    top: 549px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.rectangle-104 {
    background: #ffffff;
    border-radius: 15px;
    width: 1004px;
    height: 54px;
    position: absolute;
    left: calc(50% - 177.5px);
    top: 41px;
}

.rectangle-114 {
    background: #ffffff;
    border-radius: 15px;
    width: 1004px;
    height: 54px;
    position: absolute;
    left: calc(50% - 177.5px);
    top: 595px;
}

.rectangle-105 {
    background: var(--verde-oscuro, #0b9a7a);
    border-radius: 10px;
    width: 1004px;
    height: 34px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.encargada {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 13px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.luc-a9 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 27px;
    top: 57px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.luc-a10 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 27px;
    top: 611px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.luc-a11 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 27px;
    top: 118px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.luc-a12 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 27px;
    top: 672px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.luc-a13 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 27px;
    top: 179px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.luc-a14 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 27px;
    top: 733px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.luc-a15 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 27px;
    top: 240px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.luc-a16 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 27px;
    top: 794px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-25 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 122px;
    top: 57px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-252 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 122px;
    top: 611px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-253 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 122px;
    top: 118px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-254 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 122px;
    top: 672px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-255 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 122px;
    top: 178px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-256 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 122px;
    top: 732px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-257 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 122px;
    top: 240px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-258 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 122px;
    top: 794px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-259 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 122px;
    top: 301px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-2510 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 122px;
    top: 855px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-2511 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 122px;
    top: 363px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-2512 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 122px;
    top: 917px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-2513 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 122px;
    top: 425px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-2514 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 122px;
    top: 979px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-2515 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 122px;
    top: 487px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-2516 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 122px;
    top: 549px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-2517 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 293px;
    top: 57px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-2518 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 293px;
    top: 611px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._1 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 502px;
    top: 57px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._12 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 598px;
    top: 57px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._13 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 502px;
    top: 611px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._14 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 598px;
    top: 611px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._15 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 502px;
    top: 118px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._16 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 598px;
    top: 118px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._17 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 502px;
    top: 672px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._18 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 598px;
    top: 672px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._19 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 502px;
    top: 178px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._110 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 598px;
    top: 178px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._111 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 502px;
    top: 732px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._112 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 598px;
    top: 732px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._113 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 502px;
    top: 240px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._114 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 598px;
    top: 240px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._115 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 502px;
    top: 794px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._116 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 598px;
    top: 794px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._117 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 502px;
    top: 301px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._118 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 598px;
    top: 301px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._119 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 502px;
    top: 855px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._120 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 598px;
    top: 855px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._121 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 502px;
    top: 363px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._122 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 598px;
    top: 363px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._123 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 502px;
    top: 917px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._124 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 598px;
    top: 917px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._125 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 502px;
    top: 425px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._126 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 598px;
    top: 425px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._127 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 502px;
    top: 979px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._128 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 598px;
    top: 979px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._129 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 502px;
    top: 487px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._130 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 598px;
    top: 487px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._131 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 502px;
    top: 549px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._132 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 598px;
    top: 549px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-2519 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 293px;
    top: 118px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-2520 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 293px;
    top: 672px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-2521 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 293px;
    top: 178px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-2522 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 293px;
    top: 732px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-2523 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 293px;
    top: 240px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-2524 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 293px;
    top: 794px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-2525 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 293px;
    top: 301px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-2526 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 293px;
    top: 855px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-2527 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 293px;
    top: 363px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-2528 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 293px;
    top: 917px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-2529 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 293px;
    top: 425px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-2530 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 293px;
    top: 979px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-2531 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 293px;
    top: 487px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-2532 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 293px;
    top: 549px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.desde {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 170px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.hasta {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 343px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.efectivo {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 646px;
    top: 7px;
    width: 66px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.bizum {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 741px;
    top: 7px;
    width: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.tarjeta {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 822px;
    top: 7px;
    width: 57px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.transf {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 915px;
    top: 7px;
    width: 55px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.tratamiento {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 459px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.total {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 575px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.group-17 {
    position: absolute;
    inset: 0;
}

.group-2 {
    width: 122px;
    height: 30px;
    position: static;
}

._28-de-enero {
    color: var(--verde, #1fb996);
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: calc(50% - 59.5px);
    top: 285px;
    width: 118px;
    height: 29px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.rectangle-10 {
    background: var(--verde, #1fb996);
    border-radius: 30px;
    width: 122px;
    height: 2px;
    position: absolute;
    left: calc(50% - 61.5px);
    top: 313px;
}

.icon {
    width: 3.2%;
    height: 1.64%;
    position: absolute;
    right: 5.33%;
    left: 91.47%;
    bottom: 78.63%;
    top: 19.73%;
    overflow: visible;
}

.icon2 {
    width: 3.2%;
    height: 1.64%;
    position: absolute;
    right: 88.27%;
    left: 8.53%;
    bottom: 76.99%;
    top: 21.37%;
    transform: translate(-13px, -25px);
    overflow: visible;
}

._222 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 681px;
    top: 391px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._2222 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 938px;
    top: 1313px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._2223 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 760px;
    top: 391px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._2224 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 849px;
    top: 391px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._2225 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 938px;
    top: 391px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._2226 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 681px;
    top: 883px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._2227 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 760px;
    top: 883px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._2228 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 849px;
    top: 883px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._2229 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 938px;
    top: 883px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22210 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 681px;
    top: 636px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22211 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 760px;
    top: 636px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22212 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 849px;
    top: 636px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22213 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 938px;
    top: 636px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22214 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 681px;
    top: 1128px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22215 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 760px;
    top: 1128px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22216 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 849px;
    top: 1128px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22217 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 938px;
    top: 1128px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22218 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 681px;
    top: 512px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22219 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 760px;
    top: 512px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22220 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 849px;
    top: 512px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22221 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 938px;
    top: 512px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22222 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 681px;
    top: 1004px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22223 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 760px;
    top: 1004px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22224 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 849px;
    top: 1004px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22225 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 938px;
    top: 1004px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22226 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 681px;
    top: 757px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22227 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 760px;
    top: 757px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22228 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 849px;
    top: 757px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22229 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 938px;
    top: 757px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22230 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 681px;
    top: 1251px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22231 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 760px;
    top: 1251px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22232 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 849px;
    top: 1251px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22233 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 938px;
    top: 1251px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22234 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 681px;
    top: 453px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22235 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 760px;
    top: 453px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22236 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 849px;
    top: 453px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22237 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 938px;
    top: 453px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22238 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 681px;
    top: 945px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22239 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 760px;
    top: 945px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22240 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 849px;
    top: 945px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22241 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 938px;
    top: 945px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22242 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 681px;
    top: 698px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22243 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 760px;
    top: 698px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22244 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 849px;
    top: 698px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22245 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 938px;
    top: 698px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22246 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 681px;
    top: 1189px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22247 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 760px;
    top: 1189px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22248 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 849px;
    top: 1189px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22249 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 938px;
    top: 1189px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22250 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 681px;
    top: 574px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22251 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 760px;
    top: 574px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22252 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 849px;
    top: 574px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22253 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 938px;
    top: 574px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22254 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 681px;
    top: 1066px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22255 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 760px;
    top: 1066px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22256 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 849px;
    top: 1066px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22257 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 938px;
    top: 1066px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22258 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 681px;
    top: 819px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22259 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 760px;
    top: 819px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22260 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 849px;
    top: 819px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22261 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 938px;
    top: 819px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22262 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 681px;
    top: 1313px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22263 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 760px;
    top: 1313px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

._22264 {
    color: #3c3c3c;
    text-align: right;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 849px;
    top: 1313px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.barra {
    background: #ffffff;
    width: 375px;
    height: 79px;
    position: sticky;
    left: calc(50% - 187.5px);
    bottom: 0px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.group-102 {
    height: auto;
    position: absolute;
    left: 39px;
    top: 18px;
    overflow: visible;
}