.configuraci-n,
.configuraci-n * {
    box-sizing: border-box;
}

.configuraci-n {
    background: #ffffff;
    height: -webkit-fill-available;
    position: relative;
}

ion-grid {
    background: var(--verde-claro, #e8f2ef);
    height: -webkit-fill-available;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

.rectangle-148 {
    background: var(--verde-claro, #e8f2ef);
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    position: absolute;
    left: 0px;
    top: 0px;
}

.terapeutas {
    color: var(--verde, #1fb996);
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 30px;
    line-height: 100%;
    font-weight: 700;
    position: absolute;
    left: 19px;
    top: 91px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.encargadas {
    color: var(--verde, #1fb996);
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 30px;
    line-height: 100%;
    font-weight: 700;
    position: absolute;
    left: 19px;
    top: 465px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.frame-77 {
    width: 355px;
    height: 296px;
    position: absolute;
    left: 20px;
    top: 141px;
    overflow: scroll;
}

.rectangle-96 {
    background: #ffffff;
    border-radius: 15px;
    width: 784px;
    height: 54px;
    // position: absolute;
    position: relative;
    left: calc(50% - 177.5px);
    top: 102px;
}

.rectangle-97 {
    background: #ffffff;
    border-radius: 15px;
    width: 784px;
    height: 54px;
    position: absolute;
    left: calc(50% - 177.5px);
    top: 163px;
}

.rectangle-98 {
    background: #ffffff;
    border-radius: 15px;
    width: 784px;
    height: 54px;
    position: absolute;
    left: calc(50% - 177.5px);
    top: 224px;
}

.rectangle-104 {
    background: #ffffff;
    border-radius: 15px;
    min-width: 785px;
    height: 54px;
    position: relative;
    left: calc(50% - 177.5px);
    top: 41px;
    margin-top: 2px;
    display: inline-grid;
    inline-size: auto;
}

.rectangle-105 {
    background: var(--verde-oscuro, #0b9a7a);
    border-radius: 10px;
    width: 784px;
    height: 34px;
    position: absolute;
    left: 0px;
    top: 0px;
}

._100 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 421px;
    top: 57px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._1002 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 527px;
    top: 57px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._1003 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 616px;
    top: 57px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._1004 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 710px;
    top: 57px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._1005 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 421px;
    top: 118px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._1006 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 527px;
    top: 118px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._1007 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 616px;
    top: 118px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._1008 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 710px;
    top: 118px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._1009 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 421px;
    top: 179px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10010 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 527px;
    top: 179px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10011 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 616px;
    top: 179px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10012 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 710px;
    top: 179px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._50 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 426px;
    top: 240px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._502 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 532px;
    top: 240px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._503 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 621px;
    top: 240px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._504 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 715px;
    top: 240px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.bebida-terap {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 398px;
    top: 7px;
    width: 128px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.tabaco {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 524px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.vitamina {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 605px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.otros {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 712px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.nombre {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 21px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.luc-a {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 27px;
    top: 57px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.steven {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 27px;
    top: 118px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.laura {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 27px;
    top: 179px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.pilar {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 27px;
    top: 240px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10013 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 114px;
    top: 57px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10014 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 200px;
    top: 57px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10015 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 302px;
    top: 57px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10016 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 114px;
    top: 118px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10017 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 200px;
    top: 118px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10018 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 302px;
    top: 118px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10019 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 114px;
    top: 179px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10020 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 200px;
    top: 179px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10021 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 302px;
    top: 179px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._505 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 119px;
    top: 240px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._506 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 205px;
    top: 240px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._507 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 307px;
    top: 240px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.servicio {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 107px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.propina {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 195px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.bebida-casa {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 279px;
    top: 7px;
    width: 99px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.frame-78 {
    width: 355px;
    height: 301px;
    position: absolute;
    left: 20px;
    top: 515px;
    overflow: scroll;
}

.rectangle-962 {
    background: #ffffff;
    border-radius: 15px;
    width: 887px;
    height: 54px;
    position: absolute;
    left: calc(50% - 177.5px);
    top: 102px;
}

.rectangle-972 {
    background: #ffffff;
    border-radius: 15px;
    width: 887px;
    height: 54px;
    position: absolute;
    left: calc(50% - 177.5px);
    top: 163px;
}

.rectangle-982 {
    background: #ffffff;
    border-radius: 15px;
    width: 887px;
    height: 54px;
    position: absolute;
    left: calc(50% - 177.5px);
    top: 224px;
}

.rectangle-1042 {
    // background: #ffffff;
    // border-radius: 15px;
    // width: 887px;
    // height: 54px;
    // position: absolute;
    // left: calc(50% - 177.5px);
    // top: 41px;

    background: #ffffff;
    border-radius: 15px;
    min-width: 887px;
    height: 54px;
    position: relative;
    left: calc(50% - 177.5px);
    top: 41px;
    margin-top: 2px;
    display: inline-grid;
    inline-size: auto;
}

.rectangle-1052 {
    background: var(--verde-oscuro, #0b9a7a);
    border-radius: 10px;
    width: 887px;
    height: 34px;
    position: absolute;
    left: 0px;
    top: 0px;
}

._10022 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 506px;
    top: 57px;
    width: 63px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10023 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 376px;
    top: 57px;
    width: 63px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10024 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 602px;
    top: 57px;
    width: 63px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10025 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 704px;
    top: 57px;
    width: 63px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10026 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 798px;
    top: 57px;
    width: 63px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10027 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 506px;
    top: 118px;
    width: 63px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10028 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 376px;
    top: 118px;
    width: 63px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10029 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 602px;
    top: 118px;
    width: 63px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10030 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 704px;
    top: 118px;
    width: 63px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10031 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 798px;
    top: 118px;
    width: 63px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10032 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 506px;
    top: 179px;
    width: 63px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10033 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 376px;
    top: 179px;
    width: 63px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10034 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 602px;
    top: 179px;
    width: 63px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10035 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 704px;
    top: 179px;
    width: 63px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10036 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 798px;
    top: 179px;
    width: 63px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._508 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 512px;
    top: 240px;
    width: 51px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._509 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 382px;
    top: 240px;
    width: 51px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._5010 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 608px;
    top: 240px;
    width: 51px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._5011 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 710px;
    top: 240px;
    width: 51px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._5012 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 804px;
    top: 240px;
    width: 51px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.bebida-terap2 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 477px;
    top: 7px;
    width: 128px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.bebida-casa2 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 358px;
    top: 7px;
    width: 99px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.tabaco2 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 598px;
    top: 7px;
    width: 72px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.vitamina2 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 690px;
    top: 7px;
    width: 88px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.otros2 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 800px;
    top: 7px;
    width: 55px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.lu-12 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 120px;
    top: 57px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._1 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 207px;
    top: 57px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10037 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 281px;
    top: 57px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10038 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 281px;
    top: 118px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10039 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 281px;
    top: 179px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10040 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 281px;
    top: 240px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.stev-1 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 116px;
    top: 118px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._2 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 205px;
    top: 118px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.lau-12 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 114px;
    top: 179px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._12 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 207px;
    top: 179px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.psm {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 122px;
    top: 240px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._13 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 207px;
    top: 240px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.user {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 124px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.pass {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 193px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.fijo-d-a {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 271px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.group-82 {
    height: auto;
    position: absolute;
    // left: 324px;
    left: 200px;
    top: 91px;
    overflow: visible;
}

.group-83 {
    height: auto;
    position: absolute;
    // left: 324px;
    left: 200px;
    top: 465px;
    overflow: visible;
}

.icon {
    width: 3.2%;
    height: 2.71%;
    position: absolute;
    right: 88.27%;
    left: 8.53%;
    bottom: 88.57%;
    top: 8.71%;
    transform: translate(-13px, -25px);
    overflow: visible;
}