<ion-content padding fullscreen>
  <ion-grid fixed>
    <ion-row size="12" size-xs="12" size-sm="6" size-md="4" size-lg="3" size-xl="3">

      <div class="liquidaci-n-encargada">
        <div class="rectangle-93"></div>
        <div class="rectangle-92"></div>
        <div class="liquidaci-n">Liquidación</div>

        <div class="containerLiquidation">
          <div class="rectangle-18"></div>
          <div class="rectangle-94"></div>
          <div class="terapeuta" (click)="goTherapist()">Terapeuta</div>
          <div class="encargada">Encargada</div>
        </div>

        <div class="group-2">
          <div *ngIf="!today" class="_28-de-enero">{{day}} de {{month}}</div>
          <div *ngIf="today" class="_28-de-enero">{{dateTodayCurrent}}</div>
          <div class="rectangle-10"></div>
        </div>

        <svg class="icon2" width="12" height="24" viewBox="0 0 12 24" fill="none" xmlns="http://www.w3.org/2000/svg"
          (click)="nextArrow()">
          <path d="M0 24L12 12L0 0" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>

        <svg class="icon3" width="12" height="24" viewBox="0 0 12 24" fill="none" xmlns="http://www.w3.org/2000/svg"
          (click)="backArrow()">
          <path d="M12 0L1.04907e-06 12L12 24" stroke="white" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>

        <div class="filtros" (click)="btnFilter()">Filtros</div>

        <svg class="icon" width="25" height="23" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg"
          (click)="btnFilter()">
          <path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"
            d="M368 128h80M64 128h240M368 384h80M64 384h240M208 256h240M64 256h80" />
          <circle cx="336" cy="128" r="32" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round"
            stroke-width="32" />
          <circle cx="176" cy="256" r="32" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round"
            stroke-width="32" />
          <circle cx="336" cy="384" r="32" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round"
            stroke-width="32" />
        </svg>

        <div class="rectangle-116"></div>

        <div class="nueva" (click)="new()">Nueva</div>
        <svg class="x-circle" width="41" height="41" viewBox="0 0 41 41" fill="none" xmlns="http://www.w3.org/2000/svg"
          (click)="new()">
          <g clip-path="url(#clip0_1_546)">
            <path
              d="M25.631 20.5646L15.3786 20.4449M20.5647 15.3786L20.4449 25.6309M28.9486 29.1481C24.175 33.8115 16.5248 33.7222 11.8614 28.9486C7.19799 24.175 7.28733 16.5247 12.0609 11.8613C16.8346 7.19792 24.4848 7.28726 29.1482 12.0609C33.8116 16.8345 33.7223 24.4847 28.9486 29.1481Z"
              stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </g>
          <defs>
            <clipPath id="clip0_1_546">
              <rect width="29" height="29" fill="white" transform="translate(20.7441) rotate(45.6691)" />
            </clipPath>
          </defs>
        </svg>


        <div class="frame-77">
          <div>
            <div class="rectangle-105" id="rectangle105"></div>
            <div class="encargada2">Encargada</div>
            <div class="importe">Importe</div>
            <div class="desde">Desde</div>
            <div class="hasta">Hasta</div>
            <div class="tratamiento">Tratamiento</div>
          </div>

          <div class="rectangle-104" *ngFor="let liquidation of (liquidated | manager: selectedEncargada 
          | dateLiquidation: dateStart:dateEnd ) | paginate: { itemsPerPage: 12, currentPage: page }"
            (click)="detail(liquidation.idEncargada)">
            <div style="position: relative; top: 0px">
              <div class="luc-a9">{{liquidation.encargada}}</div>

              <div class="_5-15-6-239">{{liquidation.importe + ' €'}}</div>

              <div class="_22-01-24-23-25"> {{liquidation.desdeFechaLiquidado + ' - ' +
                liquidation.desdeHoraLiquidado}} </div>

              <div class="_22-01-24-23-2517">{{liquidation.hastaFechaLiquidado + ' - '
                + liquidation.hastaHoraLiquidado}}</div>

              <div class="_tarjeta"> {{liquidation.formaPago}} </div>

              <div class="_1">{{liquidation.tratamiento}}</div>
            </div>
          </div>
        </div>

        <pagination-controls class="paginator" previousLabel="" nextLabel=""
          (pageChange)="page = $event"></pagination-controls>


      </div>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- Filter -->

<div class="pop-up-filtros" *ngIf="filter">

  <div class="rectangle-30"></div>

  <div class="containerFilter">
    <div class="_filtros">Filtros</div>
    <div class="rectangle-41"></div>

    <svg class="vector-6" width="59" height="2" viewBox="0 0 59 2" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 1L59 0.999995" stroke="#3C3C3C" />
    </svg>

    <div class="limpiar" id="btnDelete" (click)="emptyFilter()">Limpiar</div>
    <div class="filtrar" (click)="btnFilter()">Filtrar</div>

    <div class="_encargada">Encargada</div>
    <div class="inicial">Inicial</div>
    <div class="final">Final</div>

    <svg class="x-close" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg"
      (click)="btnFilter()">
      <path d="M20.25 6.75L6.75 20.25M6.75 6.75L20.25 20.25" stroke="#3C3C3C" stroke-width="2" stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>

    <div class="component-8">
      <div class="rectangle-34-1"></div>
      <ion-select class="seleccionar_1" style="display: grid; min-height: -webkit-fill-available"
        placeholder="Selecciona" [(ngModel)]="selectedEncargada" (ngModelChange)="filters()">
        <ion-select-option *ngFor="let manager of manager">{{manager.nombre}}</ion-select-option>
      </ion-select>
    </div>

    <div class="rectangle-154"></div>
    <ion-input class="_02-feb-2024" type="date" name="dateStart" [(ngModel)]="dateStart" [value]="CurrenDate"
      (ngModelChange)="filters()"></ion-input>

    <div class="rectangle-155"></div>
    <ion-input class="_10-12-a-m" type="time" name="hourStart" [(ngModel)]="hourStart" [value]="CurrenDate"
      (ngModelChange)="filters()"></ion-input>

    <div class="rectangle-156"></div>
    <ion-input class="_02-feb-20242" type="date" name="dateEnd" [(ngModel)]="dateEnd"
      (ngModelChange)="filters()"></ion-input>

    <div class="rectangle-157"></div>
    <ion-input class="_08-02-p-m" type="time" name="hourEnd" [(ngModel)]="hourEnd"
      (ngModelChange)="filters()"></ion-input>

    <svg class="_icon" width="19" height="9" viewBox="0 0 19 9" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M-4.76837e-07 -8.30516e-07L9.5 9L19 0" stroke="#3C3C3C" stroke-width="2" stroke-linecap="round"
        stroke-linejoin="round" />
    </svg>
  </div>
</div>

<!-- Details -->

<div class="pop-up-liquidaci-n" *ngIf="details">
  <div class="rectangle-106">
    <div class="containerDetail">
      <div class="rectangle-107"></div>
      <div class="liquidaci-n-1">Liquidación</div>

      <div class="_22-01-24-23-25-a-05-02-24-09-14"> {{sinceDate}} {{sinceTime}} a {{toDate}} {{untilTime}} </div>

      <div class="total-liquidaci-n-222-concepto-a-regularizar-0-tipo-de-pago-tarjeta">
        <span>

          <span class="total-liquidaci-n-222-concepto-a-regularizar-0-tipo-de-pago-tarjeta-span"> Total Liquidación:
          </span>

          <span class="total-liquidaci-n-222-concepto-a-regularizar-0-tipo-de-pago-tarjeta-span2">
            {{totalLiquidation}} €
            <br />
          </span>

          <span class="total-liquidaci-n-222-concepto-a-regularizar-0-tipo-de-pago-tarjeta-span3">
            Concepto a regularizar: {{regularization}} €
          </span>
        </span>
      </div>

      <div class="luc-a">{{nameTherapist}}</div>

      <!-- Table -->

      <div class="frame-79">
        <div>
          <div class="rectangle-1005" id="rectangle1005"></div>
          <div class="fecha">Fecha</div>
          <div class="tiempo">Tiempo</div>
          <div class="minutos">Minutos</div>
          <div class="tratamiento3">Tratamiento</div>
          <div class="salida1">Salida</div>
          <div class="_propina">Propina</div>
          <div class="_pago">Pago</div>
          <div class="a-encargada10">A encargada</div>
          <div class="bebida-casa10">Bebida casa</div>
          <div class="bebida-terap10">Bebida terap</div>
          <div class="tabaco10">Tabaco</div>
          <div class="vitamina10">Vitamina</div>
          <div class="otros10">Otros</div>
        </div>

        <div class="rectangle-1004" *ngFor="let services of (settledData ) | 
        paginate: { itemsPerPage: 5, currentPage: page }" (click)="detail(services.idEncargada)">
          <div style="position: relative; top: 0px">

            <div [ngClass]="{'color2':services.nota !== ''}" (click)="notes()"> </div>
            <div class="luc-a9">{{services.fecha}}</div>
            <div class="tiempo2">{{services.horaStart + ' - ' + services.horaEnd}}</div>
            <div class="min">{{services.minuto + ' min'}}</div>
            <div class="_1000">{{services.servicio }} €</div>
            <div class="salida">{{services.salida}}</div>
            <div class="_10001"> {{services.propina}} €</div>
            <div class="_bizum">{{services.formaPago}}</div>
            <div class="a-terapeuta9">{{services.numberTerap}} €</div>
            <div class="bebida-casa9">{{services.bebidas}} €</div>
            <div class="bebida-terap9">{{services.bebidaTerap}} €</div>
            <div class="tabaco9">{{services.tabaco}} €</div>
            <div class="vitamina9">{{services.vitaminas}} €</div>
            <div class="otros9">{{services.otros}} €</div>
          </div>
        </div>
      </div>

      <pagination-controls class="paginatorDetail" previousLabel="" nextLabel=""
        (pageChange)="page = $event"></pagination-controls>

      <div class="rectangle-500">
        <div class="suma">Suma</div>
        <div class="comisi-n">Comisión</div>
        <div class="total">Total</div>
        <div class="rectangle-108"></div>

        <div class="_tratamiento">Tratamiento</div>
        <div class="_222">{{totalService}} €</div>
        <div class="_100" *ngIf="terapeutaName?.servicio != undefined"> {{terapeutaName?.servicio + ' %'}}</div>
        <div class="_100" *ngIf="terapeutaName?.servicio == undefined">{{0 + ' %'}}</div>
        <div class="_2223">{{totalTreatment}} €</div>

        <div class="propina">Propina</div>
        <div class="_0">{{totalTipValue}} €</div>
        <div class="_1003" *ngIf="terapeutaName?.propina != undefined"> {{terapeutaName?.propina + ' %'}}</div>
        <div class="_1003" *ngIf="terapeutaName?.propina == undefined">{{0 + ' %'}}</div>
        <div class="_03">{{totalTip}} €</div>

        <div class="bebida-a-casa">Bebida a casa</div>
        <div class="_06">{{totalValueDrink}} €</div>
        <div class="_50" *ngIf="terapeutaName?.bebida != undefined"> {{terapeutaName?.bebida + ' %'}}</div>
        <div class="_50" *ngIf="terapeutaName?.bebida == undefined">{{0 + ' %'}}</div>
        <div class="_08">{{totalDrink}} €</div>

        <div class="bebida-terap">Bebida Terap</div>
        <div class="_010">{{totalValueDrinkTherap}} €</div>
        <div class="_90" *ngIf="terapeutaName?.bebidaTerap != undefined"> {{terapeutaName?.bebidaTerap + ' %'}}</div>
        <div class="_90" *ngIf="terapeutaName?.bebidaTerap == undefined">{{0 + ' %'}}</div>
        <div class="_012">{{totalDrinkTherap}} €</div>

        <div class="tabaco">Tabaco</div>
        <div class="_015">{{totalTobaccoValue}} €</div>
        <div class="_1005" *ngIf="terapeutaName?.tabaco != undefined"> {{terapeutaName?.tabaco + ' %'}}</div>
        <div class="_1005" *ngIf="terapeutaName?.tabaco == undefined">{{0 + ' %'}}</div>
        <div class="_016">{{totalTobacco}} €</div>

        <div class="vitamina">Vitamina</div>
        <div class="_017">{{totalValueVitamins}} €</div>
        <div class="_1006" *ngIf="terapeutaName?.vitamina != undefined"> {{terapeutaName?.vitamina + ' %'}}</div>
        <div class="_1006" *ngIf="terapeutaName?.vitamina == undefined">{{0 + ' %'}}</div>
        <div class="_018">{{totalVitamin}} €</div>

        <div class="otros">Otros</div>
        <div class="_019">{{totalValueOther}} €</div>
        <div class="_1007" *ngIf="terapeutaName?.otros != undefined"> {{terapeutaName?.otros + ' %'}}</div>
        <div class="_1007" *ngIf="terapeutaName?.otros == undefined">{{0 + ' %'}}</div>
        <div class="_020">{{totalOther}} €</div>

        <div class="suma2">Suma</div>
        <div class="_2225">{{totalSum}} €</div>

        <div class="recibido">Recibido</div>
        <div class="_05">{{totalReceived}} €</div>

        <div class="fijoDia">Fijo/día</div>
        <div class="_15">{{fixedDay}}</div>
        <div class="_10012">X {{numberDay}} €</div>
        <div class="_606">{{totalFixedDay}} €</div>

        <!-- Raya -->
        <div class="rectangle-109"></div>

        <div class="total-a-pagar">Total a pagar</div>
        <div class="_2226">{{totalLiquidation}} €</div>

        <div class="rectangle-501">
          <!-- Segunda Tabla -->
          <div class="pagado-al-encargada">Pagado a encargada</div>

          <!-- Raya -->
          <div class="rectangle-110"></div>

          <div class="efectivo">Efectivo</div>
          <div class="_2224">{{totalCash}} €</div>

          <div class="bizum">Bizum</div>
          <div class="_04">{{totalBizum}} €</div>

          <div class="tarjeta">Tarjeta</div>
          <div class="_09">{{totalCard}} €</div>

          <div class="transferencia">Transferencia</div>
          <div class="_013">{{totalTransaction}} €</div>

          <!-- Raya -->
          <div class="rectangle-111"></div>

          <div class="total-a-pagar2">Total a pagar</div>
          <div class="_014">{{sumTherapist}} €</div>
        </div>
      </div>

      <svg class="x-close-1" width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg"
        (click)="detail('null')">
        <path d="M20.25 6.75L6.75 20.25M6.75 6.75L20.25 20.25" stroke="#3C3C3C" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>


    </div>

    <div class="rectangle-112" (click)="delete()"></div>
    <div class="eliminar" (click)="delete()">Eliminar</div>

    <svg class="trash-03" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
      (click)="delete()">
      <path
        d="M9 3H15M3 6H21M19 6L18.2987 16.5193C18.1935 18.0975 18.1409 18.8867 17.8 19.485C17.4999 20.0118 17.0472 20.4353 16.5017 20.6997C15.882 21 15.0911 21 13.5093 21H10.4907C8.90891 21 8.11803 21 7.49834 20.6997C6.95276 20.4353 6.50009 20.0118 6.19998 19.485C5.85911 18.8867 5.8065 18.0975 5.70129 16.5193L5 6M10 10.5V15.5M14 10.5V15.5"
        stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </svg>

  </div>
</div>