.liquidaci-n-terapeuta,
.liquidaci-n-terapeuta * {
    box-sizing: border-box;
}

ion-grid {
    background: var(--verde-claro, #e8f2ef);
    position: absolute;
    left: 0px;
    top: -23px;
}

.liquidaci-n-terapeuta {
    background: #ffffff;
    width: 411px;
    height: 1113px;
    overflow: hidden;
    left: -5px;
}

.containerLiquidation {
    position: relative;
    top: -47px;
}

.rectangle-93 {
    background: var(--verde-claro, #e8f2ef);
    width: -webkit-fill-available;
    height: 1113px;
    position: fixed;
    left: 0px;
    top: 0px;
    overflow: hidden;
}

.rectangle-92 {
    background: var(--verde, #1fb996);
    width: -webkit-fill-available;
    height: 320px;
    position: absolute;
    left: -5px;
    top: 0px;
    overflow: hidden;
}

.liquidaci-n {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 30px;
    line-height: 115%;
    font-weight: 700;
    position: absolute;
    left: 34px;
    top: 54px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.rectangle-18 {
    background: var(--verde-claro, #e8f2ef);
    border-radius: 15px;
    width: 335px;
    height: 50px;
    position: absolute;
    left: calc(50% - 167.5px);
    top: 155px;
}

.rectangle-94 {
    background: var(--verde-oscuro, #0b9a7a);
    border-radius: 15px;
    width: 162px;
    height: 40px;
    position: absolute;
    left: calc(50% - 0.5px);
    top: 160px;
}

.terapeuta {
    color: var(--verde-oscuro, #0b9a7a);
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 68px;
    top: 170px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.group-77 {
    position: absolute;
    inset: 0;
}

.group-40 {
    width: 55.04px;
    height: 23.42px;
    position: static;
}

.filtros {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 50.96px;
    top: 275px;
    width: 55.04px;
    height: 23.42px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.icon {
    border-radius: 0px;
    width: 6.67%;
    height: 1.52%;
    position: absolute;
    right: 88%;
    left: 5.33%;
    bottom: 80.34%;
    top: 18.14%;
    overflow: visible;
}

.encargada {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 228px;
    top: 170px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.group-78 {
    position: absolute;
    inset: 0;
}

.rectangle-116 {
    background: var(--verde-oscuro, #0b9a7a);
    border-radius: 15px;
    width: 104px;
    height: 40px;
    position: absolute;
    left: calc(50% - 159px);
    top: 252px;
}

.nueva {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 500;
    position: absolute;
    left: 288px;
    top: 274px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.x-circle {
    width: 29px;
    height: 29px;
    position: absolute;
    left: 277.74px;
    top: 268px;
    transform: translate(-20.74px, 0px);
    overflow: visible;
}

.frame-77 {
    width: -webkit-fill-available;
    height: 633px;
    position: absolute;
    left: -5px;
    top: 355px;
    overflow-x: auto;
}

.rectangle-104 {
    background: #ffffff;
    border-radius: 15px;
    width: 771px;
    height: 40px;
    position: relative;
    display: inline-grid;
    left: 5px;
    top: 41px;
}

.rectangle-105 {
    background: var(--verde-oscuro, #0b9a7a);
    border-radius: 10px;
    width: 2318px;
    height: 34px;
    position: absolute;
    left: 5px;
    top: 0px;
}

.encargada2 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 33px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.luc-a9 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    width: 76px;
    position: absolute;
    left: 27px;
    top: 9px;
    display: flex;
    justify-content: start;
    justify-items: start;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

._5-15-6-239 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    width: 80px;
    position: absolute;
    left: 130px;
    top: 9px;
    display: flex;
    justify-content: end;
    justify-items: end;
}

.importe {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 157px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-25 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 241px;
    top: 9px;
    width: 160px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}


._22-01-24-23-2517 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 412px;
    top: 9px;
    width: 160px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.tarjeta {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    width: 63px;
    left: 573px;
    top: 10px;
    display: flex;
    align-items: start;
    justify-content: start;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

._1 {
    color: #3c3c3c;
    text-align: left;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    width: 30px;
    position: absolute;
    left: 726px;
    top: 9px;
    display: flex;
    align-items: end;
    justify-content: end;
}

.desde {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 290px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.hasta {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 463px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.pago {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 579px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.tratamiento {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 670px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.group-17 {
    position: absolute;
    inset: 0;
}

.group-2 {
    width: 122px;
    height: 30px;
    position: static;
}

._28-de-enero {
    color: var(--verde, #1fb996);
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: calc(50% - 59.5px);
    top: 341px;
    width: 118px;
    height: 29px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.rectangle-10 {
    background: var(--verde, #1fb996);
    border-radius: 30px;
    width: 122px;
    height: 2px;
    position: absolute;
    left: calc(50% - 61.5px);
    top: 369px;
}

.icon2 {
    width: 3.2%;
    height: 1.58%;
    position: absolute;
    right: 5.33%;
    left: 91.47%;
    bottom: 75.73%;
    top: 22.69%;
    overflow: visible;
}

.icon3 {
    width: 3.2%;
    height: 1.58%;
    position: absolute;
    right: 88.27%;
    left: 8.53%;
    bottom: 74.14%;
    top: 24.27%;
    transform: translate(-13px, -25px);
    overflow: visible;
}

.paginator {
    position: absolute;
    display: grid;
    align-items: revert;
    top: 921px;
    left: -4px;
}

.paginator ::ng-deep .ngx-pagination .current {
    // background: var(--verde-oscuro, #0b9a7a); */
    background: transparent;
    color: black;
}

// Filters

.pop-up-filtros,
.pop-up-filtros * {
    box-sizing: border-box;
}

.containerDetail {
    position: relative;
    top: -14px;
    height: 1032px;
}

.rectangle-30 {
    background: #ffffff;
    border-radius: 49px;
    width: 346px;
    height: 550px;
    position: relative;
    left: 16.3px;
    top: -45px;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
}

._filtros {
    color: var(--verde, #1fb996);
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 25px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 30px;
    top: 82px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._encargada {
    color: var(--negro, #3c3c3c);
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 30px;
    top: 128px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._terapeuta {
    color: var(--negro, #3c3c3c);
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 30px;
    top: 217px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.group-56 {
    position: absolute;
    inset: 0;
}

.vector-6 {
    width: 59px;
    height: 0px;
    position: absolute;
    left: 64px;
    top: 506px;
    transform: translate(0px, -0.5px);
    overflow: visible;
}

.limpiar {
    color: #7f7c7c;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 64px;
    top: 485px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.group-55 {
    position: absolute;
    inset: 0;
}

.rectangle-41 {
    background: var(--verde, #1fb996);
    border-radius: 15px;
    width: 39.2%;
    height: 7.68%;
    position: absolute;
    right: 10.13%;
    left: 50.67%;
    bottom: 11.33%;
    top: 80.99%;
}

.filtrar {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 240px;
    top: 485px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.x-close {
    width: 27px;
    height: 27px;
    position: absolute;
    left: 305px;
    top: 85px;
    overflow: visible;
}

.component-8 {
    width: 335px;
    height: 44.83px;
    position: absolute;
    left: 20px;
    top: 219px;
}

.rectangle-34 {
    border-radius: 15px;
    border-style: solid;
    border-color: var(--negro, #3c3c3c);
    border-width: 1px;
    width: 321px;
    height: 44px;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 48%;
}

.rectangle-34-1 {
    border-radius: 15px;
    border-style: solid;
    border-color: var(--negro, #3c3c3c);
    border-width: 1px;
    width: 321px;
    height: 44px;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 25px;
}

.seleccionar {
    color: #7f7c7c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    right: 68.36%;
    left: 5.07%;
    width: 26.57%;
    bottom: 28.63%;
    // top: 35px;
    top: 35px;
    height: 44.61%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.seleccionar_1 {
    color: #7f7c7c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    right: 68.36%;
    left: 5.07%;
    width: 26.57%;
    bottom: 28.63%;
    top: 38px;
    height: 44.61%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._icon {
    width: 5.69%;
    height: 42.38%;
    position: absolute;
    right: 2.69%;
    left: 88.63%;
    bottom: 15.24%;
    top: 42px;
    transform: translate(-20px, -1px);
    overflow: visible;
}

._icon2 {
    width: 5.69%;
    height: 42.38%;
    position: absolute;
    right: 2.69%;
    left: 88.63%;
    bottom: 15.24%;
    top: 132px;
    transform: translate(-20px, -1px);
    overflow: visible;
}

.component-7 {
    width: 335px;
    height: 44.83px;
    position: absolute;
    left: 20px;
    top: 132px;
}

.icon2 {
    width: 2.69%;
    height: 42.38%;
    position: absolute;
    right: 2.69%;
    left: 94.63%;
    bottom: 15.24%;
    top: 42.38%;
    transform: translate(-20px, -1px);
    overflow: visible;
}

.inicial {
    color: var(--negro, #3c3c3c);
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 30px;
    top: 307px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.final {
    color: var(--negro, #3c3c3c);
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 30px;
    top: 395px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.rectangle-154 {
    border-radius: 15px;
    border-style: solid;
    border-color: var(--negro, #3c3c3c);
    border-width: 1px;
    width: 140px;
    height: 44px;
    position: absolute;
    left: 20px;
    top: 334px;
}

.rectangle-155 {
    border-radius: 15px;
    border-style: solid;
    border-color: var(--negro, #3c3c3c);
    border-width: 1px;
    width: 140px;
    height: 44px;
    position: absolute;
    left: 201px;
    top: 334px;
}

.rectangle-156 {
    border-radius: 15px;
    border-style: solid;
    border-color: var(--negro, #3c3c3c);
    border-width: 1px;
    width: 140px;
    height: 44px;
    position: absolute;
    left: 20px;
    top: 422px;
}

.rectangle-157 {
    border-radius: 15px;
    border-style: solid;
    border-color: var(--negro, #3c3c3c);
    border-width: 1px;
    width: 140px;
    height: 44px;
    position: absolute;
    left: 201px;
    top: 422px;
}

._02-feb-2024 {
    color: var(--negro, #3c3c3c);
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 36px;
    top: 335px;
    width: 96px;
    height: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10-12-a-m {
    color: var(--negro, #3c3c3c);
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 215px;
    top: 335px;
    width: 96px;
    height: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._02-feb-20242 {
    color: var(--negro, #3c3c3c);
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 36px;
    top: 422px;
    width: 96px;
    height: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._08-02-p-m {
    color: var(--negro, #3c3c3c);
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 215px;
    top: 422px;
    width: 96px;
    height: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

// Details

.pop-up-liquidaci-n,
.pop-up-liquidaci-n * {
    box-sizing: border-box;
}

.pop-up-liquidaci-n {
    height: 788px;
    position: relative;
}

.rectangle-106 {
    background: #ffffff;
    border-radius: 49px;
    width: 346px;
    height: 618px;
    position: relative;
    left: 8px;
    top: 10px;
    overflow-y: auto;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
}

.rectangle-107 {
    background: var(--verde, #1fb996);
    border-radius: 15px;
    width: 296px;
    height: 87px;
    position: absolute;
    left: 20px;
    top: 156px;
}

.rectangle-112 {
    background: var(--verde, #1fb996);
    border-radius: 15px;
    width: 164px;
    height: 43px;
    position: absolute;
    left: 152px;
    top: 977px;
}

.liquidaci-n-1 {
    color: var(--verde, #1fb996);
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 30px;
    line-height: 115%;
    font-weight: 700;
    position: absolute;
    left: 39px;
    top: 54px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._22-01-24-23-25-a-05-02-24-09-14 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    left: 39px;
    top: 117px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.total-liquidaci-n-222-concepto-a-regularizar-0-tipo-de-pago-tarjeta {
    color: #ffffff;
    text-align: left;
    font-family: "-", sans-serif;
    font-size: 16px;
    line-height: 115%;
    font-weight: 400;
    position: absolute;
    left: 39px;
    top: 171px;
    width: 215px;
    height: 57px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.total-liquidaci-n-222-concepto-a-regularizar-0-tipo-de-pago-tarjeta-span {
    color: #ffffff;
    font-family: "Inter-Medium", sans-serif;
    font-size: 16px;
    line-height: 115%;
    font-weight: 500;
}

.total-liquidaci-n-222-concepto-a-regularizar-0-tipo-de-pago-tarjeta-span2 {
    color: #ffffff;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 115%;
    font-weight: 700;
}

.total-liquidaci-n-222-concepto-a-regularizar-0-tipo-de-pago {
    color: #ffffff;
    font-family: "Inter-Medium", sans-serif;
    font-size: 16px;
    line-height: 115%;
    font-weight: 500;
}

.total-liquidaci-n-222-concepto-a-regularizar-0-tipo-de-pago-tarjeta-span3 {
    color: #ffffff;
    font-family: "Inter-Medium", sans-serif;
    font-size: 16px;
    line-height: 115%;
    font-weight: 500;
    width: 277px;
    display: flex;
    justify-content: start;
    justify-items: start;
}

.total-liquidaci-n-222-concepto-a-regularizar-0-tipo-de-pago-tarjeta-span4 {
    color: #ffffff;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 115%;
    font-weight: 700;
}

.luc-a {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 700;
    position: absolute;
    left: 39px;
    top: 94px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._tratamiento {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    left: 39px;
    top: 286px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.efectivo {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    left: 39px;
    top: 576px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._222 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 55px;
    left: 132px;
    top: 286px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._2223 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 45px;
    left: 261px;
    top: 286px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._2224 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 100px;
    left: 206px;
    top: 576px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._2225 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 92px;
    left: 214px;
    top: 451px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._2226 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 700;
    position: absolute;
    width: 70px;
    left: 236px;
    top: 502px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._100 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 48px;
    left: 212px;
    top: 286px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._0 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 55px;
    left: 132px;
    top: 308px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._03 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 45px;
    left: 261px;
    top: 308px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._04 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 100px;
    left: 206px;
    top: 598px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._05 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 92px;
    left: 214px;
    top: 473px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._1003 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 48px;
    left: 212px;
    top: 308px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._06 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 50px;
    left: 137px;
    top: 330px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._08 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 45px;
    left: 261px;
    top: 330px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._09 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 100px;
    left: 206px;
    top: 620px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._50 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 48px;
    left: 212px;
    top: 330px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._010 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 55px;
    left: 132px;
    top: 352px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._012 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 45px;
    left: 261px;
    top: 352px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._013 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 100px;
    left: 206px;
    top: 642px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._014 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 100px;
    left: 206px;
    top: 672px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._90 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 48px;
    left: 212px;
    top: 352px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._015 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 55px;
    left: 132px;
    top: 374px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._016 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 45px;
    left: 261px;
    top: 374px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._1005 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 48px;
    left: 212px;
    top: 374px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._017 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 55px;
    left: 132px;
    top: 396px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._018 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 45px;
    left: 261px;
    top: 396px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._1006 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 48px;
    left: 212px;
    top: 396px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._019 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 55px;
    left: 132px;
    top: 418px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._020 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 45px;
    left: 261px;
    top: 418px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._1007 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 48px;
    left: 212px;
    top: 418px;
    display: flex;
    align-items: end;
    justify-content: end;
}

.suma {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 13px;
    line-height: 115%;
    font-weight: 700;
    position: absolute;
    left: 152px;
    top: 257px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.pagado-al-terapeuta {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 13px;
    line-height: 115%;
    font-weight: 700;
    position: absolute;
    width: 150px;
    left: 42px;
    top: 546px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.comisi-n {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 13px;
    line-height: 115%;
    font-weight: 700;
    position: absolute;
    left: 201px;
    top: 257px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.total {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 13px;
    line-height: 115%;
    font-weight: 700;
    position: absolute;
    left: 276px;
    top: 257px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.propina {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    left: 39px;
    top: 308px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.bizum {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    left: 39px;
    top: 598px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.bebida-a-casa {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 96px;
    left: 39px;
    top: 330px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.bebida-terap {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 96px;
    left: 39px;
    top: 352px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.transferencia {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    left: 39px;
    top: 642px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.tabaco {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    left: 39px;
    top: 374px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.vitamina {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    left: 39px;
    top: 396px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.otros {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    left: 39px;
    top: 418px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.suma2 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 700;
    position: absolute;
    left: 141px;
    top: 451px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.recibido {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 700;
    position: absolute;
    left: 141px;
    top: 473px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.total-a-pagar {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 700;
    position: absolute;
    width: 100px;
    left: 141px;
    top: 502px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.total-a-pagar2 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 700;
    position: absolute;
    width: 100px;
    left: 42px;
    top: 672px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.rectangle-108 {
    background: #d9d9d9;
    width: 267px;
    height: 2px;
    position: absolute;
    left: 41px;
    top: 273px;
}

.rectangle-110 {
    background: #d9d9d9;
    width: 267px;
    height: 2px;
    position: absolute;
    left: 41px;
    top: 564px;
}

.rectangle-111 {
    background: #d9d9d9;
    width: 267px;
    height: 2px;
    position: absolute;
    left: 41px;
    top: 665px;
}

.rectangle-109 {
    background: #d9d9d9;
    width: 167px;
    height: 2px;
    position: absolute;
    left: 141px;
    top: 495px;
}

.group-79 {
    position: absolute;
    inset: 0;
}

.eliminar {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 700;
    position: absolute;
    left: 215px;
    top: 990px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.trash-03 {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 185px;
    top: 986px;
    overflow: visible;
}

.x-close-1 {
    width: 27px;
    height: 27px;
    position: absolute;
    left: 297px;
    top: 60px;
    overflow: visible;
}

// Table

.frame-79 {
    width: -webkit-fill-available;
    height: 260px;
    position: absolute;
    left: 0px;
    top: 258px;
    overflow-x: auto;
    overflow-y: hidden;
    background: var(--verde-claro, #e8f2ef);
}

.rectangle-1005 {
    background: var(--verde-oscuro, #0b9a7a);
    border-radius: 10px;
    width: 2318px;
    height: 34px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.rectangle-1004 {
    background: #ffffff;
    border-radius: 15px;
    width: 1630px;
    height: 40px;
    position: relative;
    display: inline-grid;
    left: 0px;
    top: 41px;
}

.fecha {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 33px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.tiempo {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 130px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.minutos {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 271px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.tratamiento3 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 385px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.salida1 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 507px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._propina {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 663px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._pago {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 784px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.a-encargada10 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    width: 100px;
    left: 926px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.bebida-casa10 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    width: 100px;
    left: 1048px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.bebida-terap10 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    width: 100px;
    left: 1164px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.tabaco10 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 1305px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.vitamina10 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 1418px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.otros10 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 1552px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

// Column

.tiempo2 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    width: 110px;
    position: absolute;
    left: 130px;
    top: 9px;
    display: flex;
    justify-content: start;
    justify-items: start;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.min {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    width: 80px;
    position: absolute;
    left: 253px;
    top: 9px;
    display: flex;
    justify-content: end;
    justify-items: end;
}

._1000 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 386px;
    top: 9px;
    width: 90px;
    display: flex;
    align-items: end;
    justify-content: end;
}

.salida {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 508px;
    top: 9px;
    width: 133px;
    justify-content: start;
    justify-items: start;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

._10001 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 657px;
    top: 9px;
    width: 65px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._bizum {
    color: #3c3c3c;
    text-align: left;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    width: 116px;
    position: absolute;
    left: 778px;
    top: 9px;
    align-items: start;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.a-terapeuta9 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 935px;
    top: 9px;
    width: 86px;
    display: flex;
    align-items: end;
    justify-content: end;
}

.bebida-casa9 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 1055px;
    top: 9px;
    width: 86px;
    display: flex;
    align-items: end;
    justify-content: end;
}

.bebida-terap9 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 1175px;
    top: 9px;
    width: 86px;
    display: flex;
    align-items: end;
    justify-content: end;
}

.tabaco9 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 1285px;
    top: 9px;
    width: 75px;
    display: flex;
    align-items: end;
    justify-content: end;
}

.vitamina9 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 1398px;
    top: 9px;
    width: 75px;
    display: flex;
    align-items: end;
    justify-content: end;
}

.otros9 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 1509px;
    top: 9px;
    width: 75px;
    display: flex;
    align-items: end;
    justify-content: end;
}

.rectangle-500 {
    position: absolute;
    top: 300px;
}

.paginatorDetail {
    position: absolute;
    display: grid;
    align-items: revert;
    top: 511px;
    left: -4px;
}

.paginatorDetail ::ng-deep .ngx-pagination .current {
    background: transparent;
    color: black;
}


ion-select::part(icon) {
    color: transparent !important;
    top: -1px;
    width: 220px;
    height: 42px;
}

ion-select::part(placeholder) {
    opacity: 1 !important;
}

@media only screen and (min-device-width: 259px) and (max-device-width: 370px) {}

// Pedro
@media only screen and (min-device-width: 350px) and (max-device-width: 370px) and (min-device-width: 350px) and (max-device-width: 370px) {
    .liquidaci-n-terapeuta {
        height: 1044px;
    }

    .containerLiquidation {
        top: -47px;
    }

    ._28-de-enero {
        color: #ffffff;
        top: 190px;
        width: 118px;
        height: 29px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .rectangle-10 {
        background: #ffffff;
        width: 122px;
        height: 2px;
        left: calc(50% - 61.5px);
        top: 220px;
    }

    .icon3 {
        width: 3.2%;
        height: 2.16%;
        position: absolute;
        right: 88.27%;
        left: 22.53%;
        bottom: 85.18%;
        top: 224px;
        transform: translate(-13px, -25px);
        overflow: visible;
    }

    .icon2 {
        width: 3.2%;
        height: 2.16%;
        position: absolute;
        right: 5.33%;
        left: 302px;
        bottom: 87.33%;
        top: 199px;
        overflow: visible;
    }

    .x-circle {
        width: 10.67%;
        height: 6.07%;
        top: 240px;
        left: 46px;
        z-index: 1;
    }

    .nueva {
        left: 66px;
        top: 264px;
        z-index: 1;
    }

    .icon {
        width: 9.67%;
        height: 5.07%;
        left: 257px;
        top: 246px;
    }

    .filtros {
        color: #ffffff;
        left: 297px;
        top: 261px;
    }

    // Table

    .frame-77 {
        height: 574px;
        top: 343px;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .rectangle-105 {
        width: 777px;
        left: 5px;
    }

    .luc-a9 {
        left: 28px;
    }

    // Filters

    .pop-up-filtros {
        margin-top: -86px;
        margin-left: -8px;
    }

    .limpiar {
        color: var(--negro, #3c3c3c);
        left: 60px;
        top: 529px;
    }

    .vector-6 {
        width: 59px;
        height: 0px;
        position: absolute;
        left: 60px;
        top: 464px;
        transform: translate(0px, -0.5px);
        overflow: visible;
        min-height: -webkit-fill-available;
    }

    .filtrar {
        left: 232px;
        top: 529px;
    }

    .rectangle-41 {
        background: var(--verde, #1fb996);
        border-radius: 15px;
        width: 40.05%;
        height: 6.99%;
        position: absolute;
        right: 9.26%;
        left: 50.68%;
        bottom: 6.73%;
        top: 514px;
    }

    // Detail

    .rectangle-1005 {
        width: 1630px;
        left: 0px;
    }
}

@media only screen and (min-device-width: 371px) and (max-device-width: 380px) {}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) {}

@media only screen and (min-device-width: 381px) and (max-device-width: 389px) {}

@media only screen and (min-device-width: 390px) and (max-device-width: 391px) {}

@media only screen and (min-device-width: 392px) and (max-device-width: 393px) {}

@media only screen and (min-device-width: 394px) and (max-device-width: 410px) {}

@media only screen and (min-device-width: 393px) and (max-device-height: 750px) {}

// Steven
@media only screen and (min-device-width: 411px) and (max-device-width: 413px) {}

@media only screen and (min-device-width: 414px) and (max-device-width: 1030px) {}

@media only screen and (min-device-width: 430px) and (max-device-height: 932px) {}