<ion-content padding fullscreen>
  <ion-grid fixed>

    <ion-col size="12" size-lg="3" size-md="5" size-sm="6" size-xs="12">

      <div class="configuraci-n">
        <div class="rectangle-148"></div>

        <div class="rectangle-92"></div>
        <div class="manager">Encargada</div>

        <div class="rectangle-18"></div>
        <div class="rectangle-94"></div>

        <div class="terapeuta" (click)="therapist()">Terapeuta</div>
        <div class="encargada">Encargada</div>

        <div class="frame-77">
          <div>
            <div class="rectangle-105"></div>
            <div class="nombre">Nombre</div>
            <div class="user">User</div>
            <div class="pass">Pass</div>
            <div class="fijo-d-a">Fijo / Día</div>
            <div class="bebida-casa">Bebida Casa</div>
            <div class="bebida-terap">Bebida Terap</div>
            <div class="tabaco">Tabaco</div>
            <div class="vitamina">Vitamina</div>
            <div class="otros">Otros</div>
          </div>

          <div class="rectangle-104" *ngFor="let manager of manager | 
          paginate: { itemsPerPage: 8, currentPage: page }" (click)="editManager(manager)">
            <div style="position: absolute; top: -41px">
              <div class="luc-a">{{manager.name}}</div>
              <div class="lu-12">{{manager.email}}</div>
              <div class="_1">{{manager.password}}</div>
              <div class="_10037">{{manager.fixeDay}}€</div>
              <div class="_10023">{{manager.drink}}%</div>
              <div class="_10022">{{manager.drinkTherapist}}%</div>
              <div class="_10024">{{manager.tabacco}}%</div>
              <div class="_10025">{{manager.vitamin}}%</div>
              <div class="_10026">{{manager.others}}%</div>
            </div>
          </div>
        </div>

        <pagination-controls class="paginator" previousLabel="" nextLabel=""
          (pageChange)="page = $event"></pagination-controls>

        <svg (click)="newManager()" class="group-82" width="30" height="30" viewBox="0 0 30 30" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <circle cx="15" cy="15" r="15" fill="#1fb996" style="stroke: white" />
          <path d="M20.7854 15.3313H9.21458M15 9.5459V21.1167" stroke="white" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>
      </div>

      <svg (click)="back()" class="icon" width="12" height="24" viewBox="0 0 12 24" fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M12 0L1.04907e-06 12L12 24" stroke="#A6A6A6" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" />
      </svg>

    </ion-col>
  </ion-grid>
</ion-content>