.encargadas {
    color: var(--verde, #1fb996);
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 30px;
    line-height: 100%;
    font-weight: 700;
    position: absolute;
    left: 19px;
    top: 465px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.frame-78 {
    width: 355px;
    height: 301px;
    position: absolute;
    left: 20px;
    top: 515px;
    overflow: scroll;
}

.rectangle-1052 {
    background: var(--verde-oscuro, #0b9a7a);
    border-radius: 10px;
    width: 887px;
    height: 34px;
    position: absolute;
    left: 0px;
    top: 0px;
}

// Table

.nombre {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 21px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.user {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 124px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.pass {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 193px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.fijo-d-a {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 271px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.bebida-casa2 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 358px;
    top: 7px;
    width: 99px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.bebida-terap2 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 477px;
    top: 7px;
    width: 128px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.tabaco2 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 598px;
    top: 7px;
    width: 72px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.vitamina2 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 690px;
    top: 7px;
    width: 88px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.otros2 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 800px;
    top: 7px;
    width: 55px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

// Column

.rectangle-1042 {
    background: #ffffff;
    border-radius: 15px;
    min-width: 887px;
    height: 54px;
    position: relative;
    left: calc(50% - 177.5px);
    top: 41px;
    margin-top: 2px;
    display: inline-grid;
    inline-size: auto;
}

.lu-12 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 120px;
    top: 57px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._1 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 207px;
    top: 57px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10037 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 281px;
    top: 57px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10023 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 376px;
    top: 57px;
    width: 63px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10022 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 506px;
    top: 57px;
    width: 63px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10024 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 602px;
    top: 57px;
    width: 63px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10025 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 704px;
    top: 57px;
    width: 63px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._10026 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 798px;
    top: 57px;
    width: 63px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

// Icon

.group-83 {
    height: auto;
    position: absolute;
    left: 200px;
    top: 465px;
    overflow: visible;
}

.icon {
    width: 3.2%;
    height: 2.71%;
    position: absolute;
    right: 88.27%;
    left: 8.53%;
    bottom: 88.57%;
    top: 8.71%;
    transform: translate(-13px, -25px);
    overflow: visible;
}