.configuraci-n,
.configuraci-n * {
    box-sizing: border-box;
}

ion-grid {
    background: var(--verde-claro, #e8f2ef);
    position: absolute;
    left: 0px;
    top: -23px;
}

.configuraci-n {
    width: 411px;
    height: 694px;
    overflow: hidden;
}

.rectangle-148 {
    background: var(--verde-claro, #e8f2ef);
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    position: absolute;
    left: 0px;
    top: 0px;
}

.rectangle-92 {
    background: var(--verde, #1fb996);
    width: -webkit-fill-available;
    height: 168px;
    position: fixed;
    left: -5px;
    top: 0px;
    overflow: hidden;
}

.manager {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 30px;
    line-height: 115%;
    font-weight: 700;
    position: absolute;
    left: 30px;
    top: 54px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

// Filter

.rectangle-18 {
    background: var(--verde-claro, #e8f2ef);
    border-radius: 15px;
    width: 335px;
    height: 50px;
    position: absolute;
    left: calc(0% - -8.5px);
    top: 113px;
}

.rectangle-94 {
    background: var(--verde-oscuro, #0b9a7a);
    border-radius: 15px;
    width: 162px;
    height: 40px;
    position: absolute;
    left: 176px;
    top: 118px;
}

.terapeuta {
    color: var(--verde-oscuro, #0b9a7a);
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 68px;
    top: 128px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.encargada {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 228px;
    top: 128px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

// Table

.frame-77 {
    width: 362px;
    height: 412px;
    position: absolute;
    left: -5px;
    top: 214px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.rectangle-105 {
    background: var(--verde-oscuro, #0b9a7a);
    border-radius: 10px;
    width: 863px;
    height: 34px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.nombre {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 21px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.user {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 124px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.pass {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 193px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.fijo-d-a {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 271px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.bebida-casa {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 358px;
    top: 7px;
    width: 99px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.bebida-terap {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 477px;
    top: 7px;
    width: 128px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.tabaco {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 598px;
    top: 7px;
    width: 72px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.vitamina {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 690px;
    top: 7px;
    width: 88px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.otros {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 800px;
    top: 7px;
    width: 55px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

// Column

.rectangle-104 {
    background: #ffffff;
    border-radius: 15px;
    min-width: 863px;
    height: 40px;
    position: relative;
    left: 0px;
    top: 41px;
    margin-top: 2px;
    display: inline-grid;
    inline-size: auto;
}

.luc-a {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    width: 70px;
    left: 20px;
    top: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lu-12 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    width: 50px;
    left: 124px;
    top: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

._1 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    width: 50px;
    left: 192px;
    top: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

._10037 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    width: 46px;
    left: 280px;
    top: 50px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._10023 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    width: 46px;
    left: 373px;
    top: 50px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._10022 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    width: 46px;
    left: 500px;
    top: 50px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._10024 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    width: 46px;
    left: 593px;
    top: 50px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._10025 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    width: 46px;
    left: 691px;
    top: 50px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._10026 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    width: 46px;
    left: 790px;
    top: 50px;
    display: flex;
    align-items: end;
    justify-content: end;
}

.paginator {
    position: absolute;
    /* display: grid; */
    top: 616px;
    width: max-content;
    left: -4px;
}

.paginator ::ng-deep .ngx-pagination .current {
    // background: var(--verde-oscuro, #0b9a7a); */
    background: transparent;
    color: black;
}

// Icon

.group-82 {
    height: auto;
    position: sticky;
    left: 203px;
    top: 31px;
    overflow: visible;
}

.icon {
    width: 3.2%;
    height: 2.71%;
    position: absolute;
    right: 88.27%;
    left: 8.53%;
    bottom: 88.57%;
    top: 8.71%;
    transform: translate(-13px, -25px);
    overflow: visible;
}