<ion-content padding fullscreen>
  <ion-grid fixed>

    <ion-col size="12" size-lg="3" size-md="5" size-sm="6" size-xs="12">

      <div class="ayuda">
        <div class="rectangle-18"></div>

        <svg class="icon" width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M23 23L17.4417 17.4417M20.4444 10.2222C20.4444 15.8678 15.8678 20.4444 10.2222 20.4444C4.57664 20.4444 0 15.8678 0 10.2222C0 4.57664 4.57664 0 10.2222 0C15.8678 0 20.4444 4.57664 20.4444 10.2222Z"
            stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>

        <svg (click)="back()" class="icon2" width="12" height="24" viewBox="0 0 12 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 0L1.04907e-06 12L12 24" stroke="white" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>

        <div class="ayuda2">Ayuda</div>
        <div class="t-tulo-tutorial">Título: Tutorial</div>
        <div class="t-tulo-tutorial2">Título: Tutorial</div>
        <div class="t-tulo-tutorial3">Título: Tutorial</div>
        <div class="descripcion-del-video">
          Descripcion del
          <br />
          video
        </div>
        <div class="buscar">Buscar</div>
        <div class="descripcion-del-video2">
          Descripcion del
          <br />
          video
        </div>
        <div class="descripcion-del-video3">
          Descripcion del
          <br />
          video
        </div>
        <div class="_05-15">05:15</div>
        <div class="_05-152">05:15</div>
        <div class="_05-153">05:15</div>
        <div class="rectangle-149"></div>
        <div class="rectangle-150"></div>
        <div class="rectangle-151"></div>
        <div class="rectangle-152"></div>
      </div>


    </ion-col>
  </ion-grid>
</ion-content>