<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="register.page.scss" />
</head>

<body>
  <div class="REGISTER">
    <div class="div">
      <div class="overlap">
        <div class="group">
          <div class="overlap-group">

            <div class="text-wrapper-3">Correo</div>
            <div class="text-wrapper-4"></div>
            <ion-input class="input-1" type="email" [(ngModel)]="manager.email" name="correo" id="correo"></ion-input>

            <div class="text-wrapper-5">Contraseña</div>
            <div class="text-wrapper-6"></div>
            <ion-input class="input-2" type="password" [(ngModel)]="manager.password" name="pass" id="pass"></ion-input>

            <button class="btn btn-light btnRegister" (click)="save()">Registrarse</button>

            <div class="text-wrapper-7" (click)="login()">Ya tienes cuenta?</div>
            <div class="text-wrapper-8" (click)="login()">Inicia Sesión</div>

            <div class="div4">
              <ion-img src="./assets/pasffy.png" class="ion-align-self-end icon"></ion-img>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>