.nueva-terapeuta,
.nueva-terapeuta * {
    box-sizing: border-box;
}

ion-grid {
    background: var(--verde-claro, #e8f2ef);
    height: -webkit-fill-available;
    position: absolute;
    overflow: hidden;
}

.pop-up-editar-terapeuta {
    height: 529px;
    position: relative;
    top: 31px;
}

.rectangle-123 {
    background: #ffffff;
    border-radius: 15px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    position: absolute;
    left: 0px;
    top: 0px;
}

.nombre {
    color: var(--negro, #3c3c3c);
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 100%;
    font-weight: 500;
    position: absolute;
    left: 32px;
    top: 199px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.propina {
    color: var(--negro, #3c3c3c);
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 100%;
    font-weight: 500;
    position: absolute;
    left: 268px;
    top: 199px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.div {
    color: var(--negro, #3c3c3c);
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 17px;
    line-height: 100%;
    font-weight: 500;
    position: absolute;
    left: 185px;
    top: 235px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.div2 {
    color: var(--negro, #3c3c3c);
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 17px;
    line-height: 100%;
    font-weight: 500;
    position: absolute;
    left: 70px;
    top: 326px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.div3 {
    color: var(--negro, #3c3c3c);
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 17px;
    line-height: 100%;
    font-weight: 500;
    position: absolute;
    left: 187px;
    top: 326px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.div4 {
    color: var(--negro, #3c3c3c);
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 17px;
    line-height: 100%;
    font-weight: 500;
    position: absolute;
    left: 304px;
    top: 326px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.div5 {
    color: var(--negro, #3c3c3c);
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 17px;
    line-height: 100%;
    font-weight: 500;
    position: absolute;
    left: 70px;
    top: 417px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.div6 {
    color: var(--negro, #3c3c3c);
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 17px;
    line-height: 100%;
    font-weight: 500;
    position: absolute;
    left: 187px;
    top: 417px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.div7 {
    color: var(--negro, #3c3c3c);
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 17px;
    line-height: 100%;
    font-weight: 500;
    position: absolute;
    left: 304px;
    top: 235px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.bebida-terap {
    color: var(--negro, #3c3c3c);
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 100%;
    font-weight: 500;
    position: absolute;
    left: 133px;
    top: 290px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.vitamina {
    color: var(--negro, #3c3c3c);
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 100%;
    font-weight: 500;
    position: absolute;
    left: 31px;
    top: 381px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.bebida-casa {
    color: var(--negro, #3c3c3c);
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 100%;
    font-weight: 500;
    position: absolute;
    left: 16px;
    top: 290px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.tabaco {
    color: var(--negro, #3c3c3c);
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 100%;
    font-weight: 500;
    position: absolute;
    left: 268px;
    top: 290px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.otros {
    color: var(--negro, #3c3c3c);
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 100%;
    font-weight: 500;
    position: absolute;
    left: 159px;
    top: 381px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.servicio {
    color: var(--negro, #3c3c3c);
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 100%;
    font-weight: 500;
    position: absolute;
    left: 151px;
    top: 199px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.rectangle-124 {
    background: var(--verde, #1fb996);
    border-radius: 15px 15px 0px 0px;
    width: -webkit-fill-available;
    height: 154px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.x-close {
    width: 27px;
    height: 27px;
    position: absolute;
    left: 294px;
    top: 23px;
    overflow: visible;
}

.usuario {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 32px;
    line-height: 100%;
    font-weight: 700;
    position: absolute;
    left: 21px;
    top: 59px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.establecer-los-de-comisi-n {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 20px;
    line-height: 100%;
    font-weight: 600;
    position: absolute;
    left: 21px;
    top: 104px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.rectangle-125 {
    border-radius: 15px;
    border-style: solid;
    border-color: var(--verde, #1fb996);
    border-width: 1.5px;
    width: 95px;
    height: 50px;
    position: absolute;
    left: 12px;
    top: 219px;
    font-family: "Inter-Medium", sans-serif;
    font-size: 16px;
    justify-items: flex-end;
    display: grid;
    min-height: auto;
    color: black;
}

.sc-ion-input-md-h[name=name] {
    border-style: none;
    color: black;
    font-family: "Inter-Medium", sans-serif;
    font-size: 17px;
    left: 20px;
    width: 79px;
    top: 220px;
    --highlight-color-focused: transparent;
    --highlight-color-valid: transparent;
}

.sc-ion-input-md-h[name=name] ::ng-deep input {
    caret-color: black;
}

.rectangle-133 {
    border-radius: 15px;
    border-style: solid;
    border-color: var(--verde, #1fb996);
    border-width: 1.5px;
    width: 95px;
    height: 50px;
    position: absolute;
    left: 130px;
    top: 219px;
    font-family: "Inter-Medium", sans-serif;
    font-size: 16px;
    justify-items: flex-end;
    display: grid;
    min-height: auto;
    color: black;
}

.sc-ion-input-md-h[name=servicio] {
    border-style: none;
    color: black;
    font-family: "Inter-Medium", sans-serif;
    font-size: 17px;
    left: 154px;
    width: 29px;
    top: 220px;
    --highlight-color-focused: transparent;
    --highlight-color-valid: transparent;
}

.sc-ion-input-md-h[name=servicio] ::ng-deep input {
    caret-color: black;
}

.rectangle-126 {
    border-radius: 15px;
    border-style: solid;
    border-color: var(--verde, #1fb996);
    border-width: 1.5px;
    width: 95px;
    height: 50px;
    position: absolute;
    left: 246px;
    top: 219px;
    font-family: "Inter-Medium", sans-serif;
    font-size: 16px;
    color: black;
}

.sc-ion-input-md-h[name=propina] {
    border-style: none;
    color: black;
    font-family: "Inter-Medium", sans-serif;
    font-size: 17px;
    left: 272px;
    width: 29px;
    top: 220px;
    --highlight-color-focused: transparent;
    --highlight-color-valid: transparent;
}

.sc-ion-input-md-h[name=propina] ::ng-deep input {
    caret-color: black;
}

.rectangle-128 {
    border-radius: 15px;
    border-style: solid;
    border-color: var(--verde, #1fb996);
    border-width: 1.5px;
    width: 95px;
    height: 50px;
    position: absolute;
    left: 130px;
    top: 310px;
    font-family: "Inter-Medium", sans-serif;
    font-size: 16px;
    justify-items: flex-end;
    display: grid;
    min-height: auto;
    color: black;
}

.sc-ion-input-md-h[name=bebidaTerap] {
    border-style: none;
    color: black;
    font-family: "Inter-Medium", sans-serif;
    font-size: 17px;
    left: 154px;
    width: 29px;
    top: 311px;
    --highlight-color-focused: transparent;
    --highlight-color-valid: transparent;
}

.sc-ion-input-md-h[name=bebidaTerap] ::ng-deep input {
    caret-color: black;
}

.rectangle-130 {
    border-radius: 15px;
    border-style: solid;
    border-color: var(--verde, #1fb996);
    border-width: 1.5px;
    width: 95px;
    height: 50px;
    position: absolute;
    left: 12px;
    top: 401px;
    font-family: "Inter-Medium", sans-serif;
    font-size: 16px;
    justify-items: flex-end;
    display: grid;
    min-height: auto;
    color: black;
}

.sc-ion-input-md-h[name=vitamina] {
    border-style: none;
    color: black;
    font-family: "Inter-Medium", sans-serif;
    font-size: 17px;
    left: 38px;
    width: 29px;
    top: 402px;
    --highlight-color-focused: transparent;
    --highlight-color-valid: transparent;
}

.sc-ion-input-md-h[name=vitamina] ::ng-deep input {
    caret-color: black;
}

.rectangle-127 {
    border-radius: 15px;
    border-style: solid;
    border-color: var(--verde, #1fb996);
    border-width: 1.5px;
    width: 95px;
    height: 50px;
    position: absolute;
    left: 12px;
    top: 310px;
    font-family: "Inter-Medium", sans-serif;
    font-size: 16px;
    justify-items: flex-end;
    display: grid;
    min-height: auto;
    color: black;
}

.sc-ion-input-md-h[name=bebida] {
    border-style: none;
    color: black;
    font-family: "Inter-Medium", sans-serif;
    font-size: 17px;
    left: 38px;
    width: 29px;
    top: 311px;
    --highlight-color-focused: transparent;
    --highlight-color-valid: transparent;
}

.sc-ion-input-md-h[name=bebida] ::ng-deep input {
    caret-color: black;
}

.rectangle-129 {
    border-radius: 15px;
    border-style: solid;
    border-color: var(--verde, #1fb996);
    border-width: 1.5px;
    width: 95px;
    height: 50px;
    position: absolute;
    left: 246px;
    top: 310px;
    font-family: "Inter-Medium", sans-serif;
    font-size: 16px;
    justify-items: flex-end;
    display: grid;
    min-height: auto;
    color: black;
}

.sc-ion-input-md-h[name=tabaco] {
    border-style: none;
    color: black;
    font-family: "Inter-Medium", sans-serif;
    font-size: 17px;
    left: 272px;
    width: 29px;
    top: 311px;
    --highlight-color-focused: transparent;
    --highlight-color-valid: transparent;
}

.sc-ion-input-md-h[name=tabaco] ::ng-deep input {
    caret-color: black;
}

.rectangle-131 {
    border-radius: 15px;
    border-style: solid;
    border-color: var(--verde, #1fb996);
    border-width: 1.5px;
    width: 95px;
    height: 50px;
    position: absolute;
    left: 130px;
    top: 401px;
    font-family: "Inter-Medium", sans-serif;
    font-size: 16px;
    justify-items: flex-end;
    display: grid;
    min-height: auto;
    color: black;
}

.sc-ion-input-md-h[name=otros] {
    border-style: none;
    color: black;
    font-family: "Inter-Medium", sans-serif;
    font-size: 17px;
    left: 154px;
    width: 29px;
    top: 402px;
    --highlight-color-focused: transparent;
    --highlight-color-valid: transparent;
}

.sc-ion-input-md-h[name=otros] ::ng-deep input {
    caret-color: black;
}

.group-98 {
    position: absolute;
    inset: 0;
}

.rectangle-77 {
    background: var(--verde, #1fb996);
    border-radius: 15px;
    width: 140px;
    height: 45px;
    position: absolute;
    right: 6.19%;
    left: 175px;
    bottom: 8.17%;
    top: 468px;
}

.group-99 {
    width: 91px;
    height: 22px;
    position: static;
}

.group-30 {
    width: 91px;
    height: 22px;
    position: static;
}

.guardar {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 225px;
    top: 482px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.save {
    width: 22px;
    height: 22px;
    position: absolute;
    left: 192px;
    top: 574px;
    overflow: hidden;
}

.save-01 {
    width: 27px;
    height: 27px;
    position: absolute;
    left: 194px;
    top: 477px;
    overflow: visible;
}

.group-100 {
    position: absolute;
    inset: 0;
}

.limpiar {
    color: var(--verde-oscuro, #0b9a7a);
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 16px;
    line-height: 100%;
    font-weight: 500;
    position: absolute;
    left: 55px;
    top: 485px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.rectangle-132 {
    background: #0b9a7a;
    width: 52px;
    height: 1px;
    position: absolute;
    left: 55px;
    top: 502px;
}