@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

ion-backdrop {
    background-color: transparent;
}

ion-toast {
    width: -webkit-fill-available;
}

.custom-loader-class {
    --background: transparent;
    --spinner-color: var(--verde, #1fb996);
}

.loading-wrapper.sc-ion-loading-md {
    box-shadow: 0 16px 20px transparent;
}

.toast-class {
    top: -9%;
    --background: var(--verde, #1fb996);
    --spinner-color: #FFFFFF;
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
}