.nueva-liquidaci-n,
.nueva-liquidaci-n * {
    box-sizing: border-box;
}

ion-col {
    position: fixed;
}

ion-grid {
    background: var(--verde-claro, #e8f2ef);
    width: -webkit-fill-available;
    height: min-content;
    position: fixed;
    left: -5px;
    top: 0px;
}

.nueva-liquidaci-n {
    background: #ffffff;
    height: 2456px;
    width: 362px;
    left: -5px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    top: -60px;
}

.rectangle-93 {
    background: white;
    width: -webkit-fill-available;
    height: 3518px;
    position: absolute;
    left: 0px;
    top: 121px;
}

.rectangle-30 {
    background: var(--verde-oscuro, #0b9a7a);
    border-radius: 49px;
    width: 335px;
    height: 165px;
    position: absolute;
    left: calc(50% - 167.5px);
    top: 174px;
}

.icon {
    width: 3.2%;
    height: 1.43%;
    position: absolute;
    right: 86.67%;
    left: 10.13%;
    bottom: 93.99%;
    top: 4.58%;
    transform: translate(-13px, -25px);
    overflow: visible;
}

.rectangle-92 {
    background: var(--verde, #1fb996);
    width: 375px;
    height: 261px;
    position: absolute;
    left: calc(50% - 187.5px);
    top: 0px;
}

.nueva-liquidaci-n2 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 30px;
    line-height: 100%;
    font-weight: 700;
    position: absolute;
    left: 61px;
    top: 92px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.group-92 {
    position: absolute;
    inset: 0;
}

.rectangle-77 {
    background: var(--verde, #1fb996);
    border-radius: 15px;
    width: 139px;
    height: 45px;
    position: absolute;
    right: 4.8%;
    left: 162px;
    bottom: 7.02%;
    top: 1489px;
}

.group-30 {
    width: 91px;
    height: 23.34px;
    position: static;
}

.guardar {
    color: var(--verde-claro, #e8f2ef);
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 219px;
    top: 1502px;
    width: 64px;
    height: 21.22px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.save {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 182px;
    top: 1496px;
    overflow: visible;
}

.group-97 {
    position: absolute;
    inset: 0;
}

.total-liquidaci-n {
    color: var(--verde, #1b1e1d);
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 21px;
    top: 577px;
    width: 203px;
    height: 36px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._0 {
    color: var(--verde, #1fb996);
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 20px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 246px;
    width: 97px;
    top: 588px;
    height: 18px;
    display: flex;
    justify-content: end;
    justify-items: end;
}

.component-3 {
    width: 67.2%;
    height: 1.83%;
    position: absolute;
    left: 16.27%;
    top: 320px;
}

.component-9 {
    width: 67.2%;
    height: 1.83%;
    position: absolute;
    left: 16.27%;
    top: 377px;
}

._5-34-p-m {
    border-radius: 15px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    bottom: 0%;
    top: 0%;
    height: 100%;
}

.component-10 {
    width: 67.2%;
    height: 1.83%;
    position: absolute;
    left: 16.27%;
    top: 491px;
}

._7-12-p-m {
    border-radius: 15px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    bottom: 0%;
    top: 0%;
    height: 100%;
}

.component-8 {
    width: 67.2%;
    height: 1.83%;
    position: absolute;
    left: 16.27%;
    top: 434px;
}

._6-feb-2024 {
    color: var(--negro, #3c3c3c);
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    right: 35.84%;
    left: 10.83%;
    width: 53.33%;
    bottom: 37.25%;
    top: 23.53%;
    height: 39.22%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.rectangle-42 {
    border-radius: 15px;
    border-style: solid;
    border-color: var(--negro, #3c3c3c);
    border-width: 1px;
    width: 57.33%;
    height: 44px;
    position: absolute;
    right: 37.6%;
    left: 5.07%;
    bottom: 57.88%;
    top: 643px;
}

.rectangle-94 {
    background: var(--verde, #1fb996);
    border-radius: 15px;
    width: 28.53%;
    height: 44px;
    position: absolute;
    right: 5.33%;
    left: 66.13%;
    bottom: 57.88%;
    top: 643px;
}

.concepto-a-regularizar {
    color: var(--negro, #3c3c3c);
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    right: 44.04%;
    left: 9.83%;
    width: 46.13%;
    bottom: 58.66%;
    top: 637px;
    height: 1.19%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.div {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    right: 9.87%;
    left: 87.2%;
    width: 2.93%;
    bottom: 58.66%;
    top: 646px;
    height: 1.19%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    z-index: 4;
}

.inicial {
    border-radius: 15px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    bottom: 0%;
    top: 0%;
    height: 100%;
}

.final {
    border-radius: 15px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    bottom: 0%;
    top: 0%;
    height: 100%;
}

.x-close {
    width: 12.2%;
    height: 3.98%;
    position: absolute;
    right: 88.27%;
    left: 21px;
    bottom: 95.89%;
    top: 54px;
    transform: translate(-13px, -25px);
    overflow: visible;
    z-index: 1;
}

.group-95 {
    position: absolute;
    inset: 0;
}

.encargada {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    right: 64.17%;
    left: 3.94%;
    width: 31.89%;
    bottom: 26.67%;
    top: 28.89%;
    height: 44.44%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.component-82 {
    width: 67.2%;
    height: 1.83%;
    position: absolute;
    left: 16.27%;
    top: 263px;
}

.rectangle-34 {
    border-radius: 15px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    position: absolute;
    right: 0%;
    left: 0%;
    width: 100%;
    bottom: 0%;
    top: 0%;
    height: 100%;
}

.seleccionar {
    color: #7f7c7c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    right: 68.36%;
    left: 5.07%;
    width: 26.57%;
    bottom: 28.63%;
    top: 26.77%;
    height: 44.61%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.icon2 {
    height: auto;
    position: absolute;
    right: 5.12%;
    left: 91.34%;
    width: 3.54%;
    bottom: 17.78%;
    top: 40%;
    height: 42.22%;
    transform: translate(-20px, -1px);
    overflow: visible;
}

.group-96 {
    position: absolute;
    inset: 0;
}

.terapeuta {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    right: 65.75%;
    left: 3.94%;
    width: 30.31%;
    bottom: 26.67%;
    top: 28.89%;
    height: 44.44%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.component-7 {
    width: 67.2%;
    height: 1.83%;
    position: absolute;
    left: 16.27%;
    top: 206px;
}

// Table

.frame-79 {
    width: -webkit-fill-available;
    height: 260px;
    position: absolute;
    left: 0px;
    top: 733px;
    overflow-x: auto;
    overflow-y: hidden;
    background: var(--verde-claro, #e8f2ef);
}

.rectangle-1005 {
    background: var(--verde-oscuro, #0b9a7a);
    border-radius: 10px;
    width: 2318px;
    height: 34px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.rectangle-1004 {
    background: #ffffff;
    border-radius: 15px;
    width: 1630px;
    height: 40px;
    position: relative;
    display: inline-grid;
    left: 0px;
    top: 41px;
}

.fecha {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 33px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.tiempo {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 130px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.minutos {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 271px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.tratamiento3 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 385px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.salida1 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 507px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._propina {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 663px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._pago {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 784px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.a-terapeuta10 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    width: 100px;
    left: 934px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.bebida-casa10 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    width: 100px;
    left: 1048px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.bebida-terap10 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    width: 100px;
    left: 1164px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.tabaco10 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 1305px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.vitamina10 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 1418px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.otros10 {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 700;
    position: absolute;
    left: 1552px;
    top: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

// Column

.luc-a9 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    width: 76px;
    position: absolute;
    left: 27px;
    top: 9px;
    display: flex;
    justify-content: start;
    justify-items: start;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tiempo2 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    width: 110px;
    position: absolute;
    left: 130px;
    top: 9px;
    display: flex;
    justify-content: start;
    justify-items: start;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.min {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    width: 80px;
    position: absolute;
    left: 253px;
    top: 9px;
    display: flex;
    justify-content: end;
    justify-items: end;
}

._1000 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 386px;
    top: 9px;
    width: 90px;
    display: flex;
    align-items: end;
    justify-content: end;
}

.salida {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 508px;
    top: 9px;
    width: 133px;
    justify-content: start;
    justify-items: start;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

._10001 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 657px;
    top: 9px;
    width: 65px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._bizum {
    color: #3c3c3c;
    text-align: left;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    width: 116px;
    position: absolute;
    left: 778px;
    top: 9px;
    align-items: start;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.a-terapeuta9 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 935px;
    top: 9px;
    width: 86px;
    display: flex;
    align-items: end;
    justify-content: end;
}

.bebida-casa9 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 1055px;
    top: 9px;
    width: 86px;
    display: flex;
    align-items: end;
    justify-content: end;
}

.bebida-terap9 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 1175px;
    top: 9px;
    width: 86px;
    display: flex;
    align-items: end;
    justify-content: end;
}

.tabaco9 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 1285px;
    top: 9px;
    width: 75px;
    display: flex;
    align-items: end;
    justify-content: end;
}

.vitamina9 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 1398px;
    top: 9px;
    width: 75px;
    display: flex;
    align-items: end;
    justify-content: end;
}

.otros9 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 18px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    left: 1509px;
    top: 9px;
    width: 75px;
    display: flex;
    align-items: end;
    justify-content: end;
}

.rectangle-200 {
    position: absolute;
    top: 307px;
}

.icon3 {
    height: auto;
    position: absolute;
    right: 5.12%;
    left: 91.34%;
    width: 3.54%;
    bottom: 17.78%;
    top: 40%;
    height: 42.22%;
    transform: translate(-20px, -1px);
    overflow: visible;
}

.tratamiento {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    left: 39px;
    top: 786px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.efectivo {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    left: 39px;
    top: 1139px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

._222 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 55px;
    left: 132px;
    top: 786px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._2222 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 45px;
    left: 261px;
    top: 786px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._02 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 100px;
    left: 206px;
    top: 1139px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._2223 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 92px;
    left: 214px;
    top: 991px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._2224 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 700;
    position: absolute;
    width: 70px;
    left: 236px;
    top: 1040px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._100 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    left: 212px;
    top: 786px;
    width: 48px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._03 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 55px;
    left: 132px;
    top: 814px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._04 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 45px;
    left: 261px;
    top: 814px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._05 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 100px;
    left: 206px;
    top: 1167px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._06 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 92px;
    left: 214px;
    top: 1009px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._07 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 55px;
    left: 132px;
    top: 841px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._08 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 45px;
    left: 261px;
    top: 841px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._09 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 100px;
    left: 206px;
    top: 1195px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._50 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 48px;
    left: 212px;
    top: 841px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._010 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 55px;
    left: 132px;
    top: 868px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._011 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 45px;
    left: 261px;
    top: 868px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._012 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 100px;
    left: 206px;
    top: 1222px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._013 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 100px;
    left: 206px;
    top: 1263px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._90 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 48px;
    left: 212px;
    top: 868px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._014 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 55px;
    left: 132px;
    top: 896px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._015 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 48px;
    left: 261px;
    top: 896px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._1003 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 48px;
    left: 212px;
    top: 814px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._10031 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 48px;
    left: 212px;
    top: 896px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._016 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 55px;
    left: 132px;
    top: 923px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._017 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 48px;
    left: 261px;
    top: 923px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._1004 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 48px;
    left: 212px;
    top: 923px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._018 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 55px;
    left: 132px;
    top: 950px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._019 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 48px;
    left: 261px;
    top: 950px;
    display: flex;
    align-items: end;
    justify-content: end;
}

._1005 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 48px;
    left: 212px;
    top: 950px;
    display: flex;
    align-items: end;
    justify-content: end;
}

.suma {
    color: var(--verde-oscuro, #0b9a7a);
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 13px;
    line-height: 115%;
    font-weight: 700;
    position: absolute;
    left: 152px;
    top: 751px;
    width: 47px;
    height: 19px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.pagado-al-terapeuta {
    color: var(--verde, #1fb996);
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 13px;
    line-height: 115%;
    font-weight: 700;
    position: absolute;
    width: 150px;
    left: 42px;
    top: 1108px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.m-todo-de-pago-al-terapeuta {
    color: var(--verde, #1fb996);
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 13px;
    line-height: 115%;
    font-weight: 700;
    position: absolute;
    width: 180px;
    left: 42px;
    top: 1325px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.group-40 {
    position: absolute;
    top: 0px;
    left: 24px;
}

.comisi-n {
    color: var(--verde-oscuro, #0b9a7a);
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 13px;
    line-height: 115%;
    font-weight: 700;
    position: absolute;
    left: 201px;
    top: 751px;
    width: 76px;
    height: 19px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.total {
    color: var(--verde-oscuro, #0b9a7a);
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 13px;
    line-height: 115%;
    font-weight: 700;
    position: absolute;
    left: 276px;
    top: 751px;
    width: 40px;
    height: 19px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.propina {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    left: 39px;
    top: 814px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.bizum {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    left: 39px;
    top: 1167px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.bebida-a-casa {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 96px;
    left: 39px;
    top: 841px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.tarjeta {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    left: 39px;
    top: 1195px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.bebida-terap {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    width: 96px;
    left: 39px;
    top: 868px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.transferencia {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    left: 39px;
    top: 1222px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.tabaco {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    left: 39px;
    top: 896px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.vitamina {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    left: 39px;
    top: 923px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.otros {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 500;
    position: absolute;
    left: 39px;
    top: 950px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.suma2 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 700;
    position: absolute;
    left: 141px;
    top: 991px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.recibido {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 700;
    position: absolute;
    left: 141px;
    top: 1009px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.total-a-pagar {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 700;
    position: absolute;
    width: 100px;
    left: 141px;
    top: 1040px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.total-a-pagar2 {
    color: #3c3c3c;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 15px;
    line-height: 115%;
    font-weight: 700;
    position: absolute;
    width: 100px;
    left: 42px;
    top: 1263px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.rectangle-108 {
    background: var(--verde-oscuro, #0b9a7a);
    width: 267px;
    height: 2px;
    position: absolute;
    left: 41px;
    top: 771px;
}

.rectangle-110 {
    background: var(--verde-oscuro, #0b9a7a);
    width: 267px;
    height: 2px;
    position: absolute;
    left: 41px;
    top: 1130px;
}

.rectangle-111 {
    background: var(--verde-oscuro, #0b9a7a);
    width: 267px;
    height: 2px;
    position: absolute;
    left: 41px;
    top: 1255px;
}

.rectangle-109 {
    background: var(--verde-oscuro, #0b9a7a);
    width: 167px;
    height: 2px;
    position: absolute;
    left: 141px;
    top: 1032px;
}

.group-59 {
    position: absolute;
    inset: 0;
}

.group-52 {
    width: 98px;
    height: 44.83px;
    position: absolute;
    left: 10px;
    top: 1365px;
}

.rectangle-41 {
    border-radius: 32px;
    border-style: solid;
    border-color: #a6a6a6;
    border-width: 1px;
    width: 81.63%;
    height: 100.37%;
    position: absolute;
    right: 9.18%;
    left: 9.18%;
    bottom: -0.37%;
    top: 0%;
}

.sc-ion-input-md-h[name=conceptoRegularization] {
    --highlight-color-focused: transparent;
    --highlight-color: transparent;
}

.sc-ion-input-md-h[name=bizum] {
    color: transparent;
    --highlight-color-focused: transparent;
    --highlight-color: transparent;
}

.bizum2 {
    color: #7f7c7c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    right: 25.51%;
    left: 26.53%;
    width: 47.96%;
    bottom: 28.63%;
    top: 26.77%;
    height: 44.61%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.group-53 {
    border-radius: 11px;
    width: 92px;
    height: 45px;
    position: absolute;
    left: 99px;
    top: 1365px;
}

.rectangle-37 {
    border-radius: 34px;
    border-style: solid;
    border-color: #a6a6a6;
    border-width: 1px;
    width: 92.39%;
    height: 100%;
    position: absolute;
    right: 4.35%;
    left: 3.26%;
    bottom: 0%;
    top: 0%;
}

.sc-ion-input-md-h[name=cash] {
    color: transparent;
    --highlight-color-focused: transparent;
    --highlight-color: transparent;
}

.efectivo2 {
    color: #7f7c7c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    right: 15.31%;
    left: 18.37%;
    width: 66.33%;
    bottom: 28.63%;
    top: 26.77%;
    height: 44.61%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.group-54 {
    width: 90px;
    height: 45px;
    position: absolute;
    left: 18px;
    top: 1415px;
}

.rectangle-39 {
    border-radius: 33px;
    border-style: solid;
    border-color: #a6a6a6;
    border-width: 1px;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 0%;
    top: 0%;
}

.sc-ion-input-md-h[name=card] {
    color: transparent;
    --highlight-color-focused: transparent;
    --highlight-color: transparent;
}

.tarjeta2 {
    color: #7f7c7c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    right: 15.56%;
    left: 20%;
    width: 64.44%;
    bottom: 28.89%;
    top: 26.67%;
    height: 44.44%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.group-55 {
    width: 145px;
    height: 45px;
    position: absolute;
    left: 106px;
    top: 1415px;
}

.rectangle-40 {
    border-radius: 26px;
    border-style: solid;
    border-color: #a6a6a6;
    border-width: 1px;
    width: 88.28%;
    height: 100%;
    position: absolute;
    right: 8.28%;
    left: 3.45%;
    bottom: 0%;
    top: 0%;
}

.sc-ion-input-md-h[name=transaction] {
    color: transparent;
    --highlight-color-focused: transparent;
    --highlight-color: transparent;
}

.transferencia2 {
    color: #7f7c7c;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    line-height: 125%;
    font-weight: 400;
    position: absolute;
    right: 17.24%;
    left: 11.72%;
    width: 71.03%;
    bottom: 26.67%;
    top: 28.89%;
    height: 44.44%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.keyboard {
    display: none;
    background-color: black;
    width: 100%;
    width: 300px;
    height: 260px;
    position: fixed;
    bottom: 0;
    top: 250px;
}

ion-select::part(icon) {
    color: transparent !important;
    width: 157px;
    right: 32px;
}

.sc-ion-input-md-h[name=sinceDate] {
    color: white;
    --highlight-color-focused: transparent;
    --border-color: transparent;
    --highlight-color: transparent;
}

.sc-ion-input-md-h[name=sinceDate] ::ng-deep label {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    position: absolute;
    left: 3.5%;
}

.sc-ion-input-md-h[name=sinceDate] ::ng-deep input {
    caret-color: black;
    left: 16px;
    width: 100%;
}

.sc-ion-input-md-h[name=sinceTime] {
    color: white;
    --highlight-color-focused: transparent;
    --border-color: transparent;
    --highlight-color: transparent;
}

.sc-ion-input-md-h[name=sinceTime] ::ng-deep label {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    position: absolute;
    left: 3.5%;
}

.sc-ion-input-md-h[name=sinceTime] ::ng-deep input {
    caret-color: black;
    left: 16px;
    width: 100%;
}

.sc-ion-input-md-h[name=toDate] {
    color: white;
    --highlight-color-focused: transparent;
    --border-color: transparent;
    --highlight-color: transparent;
}

.sc-ion-input-md-h[name=toDate] ::ng-deep label {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    position: absolute;
    left: 3.5%;
}

.sc-ion-input-md-h[name=toDate] ::ng-deep input {
    caret-color: black;
    left: 16px;
    width: 100%;
}

.sc-ion-input-md-h[name=untilTime] {
    color: white;
    --highlight-color-focused: transparent;
    --border-color: transparent;
    --highlight-color: transparent;
}

.sc-ion-input-md-h[name=untilTime] ::ng-deep label {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    position: absolute;
    left: 3.5%;
}

.sc-ion-input-md-h[name=untilTime] ::ng-deep input {
    caret-color: black;
    left: 16px;
    width: 100%;
}

.sc-ion-input-md-h[name=numberRegularization] {
    color: white;
    --highlight-color-focused: transparent;
    --border-color: transparent;
    --highlight-color: transparent;
}

.sc-ion-input-md-h[name=numberRegularization] ::ng-deep label {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    position: absolute;
    left: 3.5%;
}

.sc-ion-input-md-h[name=numberRegularization] ::ng-deep input {
    position: relative;
    caret-color: black;
    left: 10px;
    max-width: 56%;
}

.paginator {
    position: absolute;
    display: grid;
    align-items: revert;
    top: 986px;
    left: -4px;
}

.paginator ::ng-deep .ngx-pagination .current {
    background: transparent;
    color: black;
}

@media only screen and (min-device-width: 259px) and (max-device-width: 370px) {}

// Pedro
@media only screen and (min-device-width: 350px) and (max-device-width: 370px) and (min-device-width: 350px) and (max-device-width: 370px) {

    .rectangle-1005 {
        width: 1630px;
        left: 0px;
    }
}

@media only screen and (min-device-width: 371px) and (max-device-width: 380px) {}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) {}

@media only screen and (min-device-width: 381px) and (max-device-width: 389px) {}

@media only screen and (min-device-width: 390px) and (max-device-width: 391px) {}

@media only screen and (min-device-width: 392px) and (max-device-width: 393px) {}

@media only screen and (min-device-width: 394px) and (max-device-width: 410px) {}

@media only screen and (min-device-width: 393px) and (max-device-height: 750px) {}

// Steven
@media only screen and (min-device-width: 411px) and (max-device-width: 413px) {}

@media only screen and (min-device-width: 414px) and (max-device-width: 1030px) {}

@media only screen and (min-device-width: 430px) and (max-device-height: 932px) {}