.visi-n-general,
.visi-n-general * {
  box-sizing: border-box;
}

ion-grid {
  background: var(--verde-claro, #e8f2ef);
  width: -webkit-fill-available;
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
}

.visi-n-general {
  top: -32px;
  height: 2020px;
  position: relative;
}

.rectangle-91 {
  background: var(--verde-claro, #e8f2ef);
  width: 375px;
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
}

.group-32 {
  position: absolute;
  inset: 0;
}

.rectangle-18 {
  background: #ffffff;
  border-radius: 15px;
  width: 335px;
  // height: 468px;
  height: 372px;
  position: absolute;
  left: calc(50% - 167.5px);
  top: 39px;
}

.visi-n-general2 {
  color: #0b9a7a;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 26px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 42px;
  // top: 54px;
  top: 67px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.steven {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: -1px;
  top: 160px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._0 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  width: 35px;
  position: absolute;
  left: 190px;
  top: 160px;
  display: flex;
  justify-content: end;
  justify-items: end;
}

._fin {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  width: 63px;
  position: absolute;
  left: 112px;
  top: 160px;
  display: flex;
  justify-content: end;
  justify-items: end;
}

.ellipse-20 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 259px;
  top: 163px;
}

._salida {
  // color: #de5753;
  // text-align: left;
  // font-family: "Inter-Regular", sans-serif;
  // font-size: 20px;
  // line-height: 125%;
  // font-weight: 400;
  // position: absolute;
  // left: 240px;
  // top: 160px;

  background: #de5753;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}

.fin {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 174px;
  top: 116px;
}

.min {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 222px;
  top: 116px;
}

.salida {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 269px;
  top: 116px;
}

.rectangle-23 {
  // background: #3c3c3c;
  background: var(--verde, #1fb996);
  width: 295px;
  height: 2px;
  position: absolute;
  left: 29px;
  top: 143px;
}

.vector {
  width: 24.17px;
  height: 24.17px;
  position: absolute;
  left: 299px;
  // top: 56px;
  top: 69px;
  overflow: visible;
}

.group-17 {
  position: absolute;
  inset: 0;
}

.group-2 {
  width: 122px;
  height: 30px;
  position: static;
}

._28-de-enero {
  color: var(--verde-oscuro, #0b9a7a);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 59.5px);
  top: 439px;
  width: 118px;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rectangle-10 {
  background: var(--verde-oscuro, #0b9a7a);
  border-radius: 30px;
  width: 122px;
  height: 2px;
  position: absolute;
  left: calc(50% - 61.5px);
  top: 465px;
}

.group-23 {
  position: absolute;
  top: 1px;
  left: calc(50% - 167.5px);
  width: 335px;
  height: 336px;
}

.group-24 {
  position: absolute;
  top: 1px;
  left: calc(50% - 167.5px);
  width: 335px;
  height: 321px;
}

.rectangle-11 {
  background: #ffffff;
  border-radius: 15px;
  width: 335px;
  height: 336px;
  position: absolute;
  left: calc(50% - 167.5px);
  top: 509px;
}

.servicios {
  color: var(--verde, #1fb996);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 28px;
  top: 539px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.tratamientos {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 500;
  position: absolute;
  left: 29px;
  top: 589px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._35 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 500;
  width: 100px;
  position: absolute;
  left: 206px;
  top: 589px;
  display: flex;
  justify-content: end;
  justify-items: end;
}

.propina {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 500;
  position: absolute;
  left: 29px;
  top: 618px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._08 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 500;
  width: 100px;
  position: absolute;
  left: 206px;
  top: 618px;
  display: flex;
  justify-content: end;
  justify-items: end;
}

.taxi {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 500;
  position: absolute;
  left: 29px;
  top: 647px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.vitaminas {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 500;
  position: absolute;
  left: 29px;
  top: 676px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._09 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 500;
  width: 100px;
  position: absolute;
  left: 206px;
  top: 647px;
  display: flex;
  justify-content: end;
  justify-items: end;
}

._010 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 500;
  width: 100px;
  position: absolute;
  left: 206px;
  top: 676px;
  display: flex;
  justify-content: end;
  justify-items: end;
}

.tabaco {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 500;
  position: absolute;
  left: 29px;
  top: 705px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._011 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 500;
  width: 100px;
  position: absolute;
  left: 206px;
  top: 705px;
  display: flex;
  justify-content: end;
  justify-items: end;
}

.otros {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 500;
  position: absolute;
  left: 29px;
  top: 792px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._012 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 500;
  width: 100px;
  position: absolute;
  left: 206px;
  top: 734px;
  display: flex;
  justify-content: end;
  justify-items: end;
}

.bebida-casa {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 500;
  position: absolute;
  left: 29px;
  top: 734px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._013 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 500;
  width: 100px;
  position: absolute;
  left: 206px;
  top: 763px;
  display: flex;
  justify-content: end;
  justify-items: end;
}

.bebida-terapeuta {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 500;
  position: absolute;
  left: 29px;
  top: 763px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._014 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 500;
  width: 100px;
  position: absolute;
  left: 206px;
  top: 792px;
  display: flex;
  justify-content: end;
  justify-items: end;
}

._352 {
  color: var(--verde, #1fb996);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 700;
  width: 100px;
  position: absolute;
  left: 206px;
  top: 539px;
  display: flex;
  justify-content: end;
  justify-items: end;
}

.rectangle-17 {
  background: var(--verde, #1fb996);
  width: 277px;
  height: 2px;
  position: absolute;
  left: 29px;
  top: 569px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}

.group-20 {
  position: absolute;
  inset: 0;
}

.rectangle-12 {
  background: #ffffff;
  border-radius: 15px;
  width: 335px;
  height: 321px;
  position: absolute;
  left: calc(50% - 167.5px);
  top: 868px;
}

.cobros {
  color: var(--verde, #1fb996);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 28px;
  top: 898px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.tratamientos2 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 28px;
  top: 949px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._353 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 700;
  width: 100px;
  position: absolute;
  left: 206px;
  top: 949px;
  display: flex;
  justify-content: end;
  justify-items: end;
}

.efectivo {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 500;
  position: absolute;
  left: 40px;
  top: 977px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._20 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 500;
  width: 100px;
  position: absolute;
  left: 206px;
  top: 977px;
  display: flex;
  justify-content: end;
  justify-items: end;
}

.bizum {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 500;
  position: absolute;
  left: 40px;
  top: 1005px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._15 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 500;
  width: 100px;
  position: absolute;
  left: 206px;
  top: 1005px;
  display: flex;
  justify-content: end;
  justify-items: end;
}

.tarjeta {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 500;
  position: absolute;
  left: 40px;
  top: 1033px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.transferencia {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 500;
  position: absolute;
  left: 40px;
  top: 1061px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._015 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 500;
  width: 100px;
  position: absolute;
  left: 206px;
  top: 1033px;
  display: flex;
  justify-content: end;
  justify-items: end;
}

._016 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 500;
  width: 100px;
  position: absolute;
  left: 206px;
  top: 1061px;
  display: flex;
  justify-content: end;
  justify-items: end;
}

.terapeuta {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 28px;
  top: 1089px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._017 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 700;
  width: 100px;
  position: absolute;
  left: 206px;
  top: 1089px;
  display: flex;
  justify-content: end;
  justify-items: end;
}

.encargada {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 28px;
  top: 1117px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._018 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 700;
  width: 100px;
  position: absolute;
  left: 206px;
  top: 1117px;
  display: flex;
  justify-content: end;
  justify-items: end;
}

.taxista {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 28px;
  top: 1145px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._019 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 700;
  width: 100px;
  position: absolute;
  left: 206px;
  top: 1145px;
  display: flex;
  justify-content: end;
  justify-items: end;
}

._354 {
  color: var(--verde, #1fb996);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 700;
  width: 100px;
  position: absolute;
  left: 206px;
  top: 898px;
  display: flex;
  justify-content: end;
  justify-items: end;
}

.rectangle-172 {
  background: var(--verde, #1fb996);
  width: 277px;
  height: 2px;
  position: absolute;
  left: 29px;
  top: 928px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}

.group-21 {
  position: absolute;
  inset: 0;
  height: 0px;
  top: 0px;
}

.rectangle-182 {
  background: #ffffff;
  border-radius: 15px;
  width: 335px;
  height: 334px;
  position: absolute;
  left: calc(50% - 167.5px);
  top: 1213px;
}

.terapeuta2 {
  color: var(--verde, #1fb996);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 36px;
  top: 1243px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.importe {
  color: var(--verde, #1fb996);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 163px;
  top: 1243px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.mar-a2 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 500;
  width: 110px;
  position: absolute;
  left: 36px;
  top: 1294px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

._152 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 500;
  width: 80px;
  position: absolute;
  left: 155px;
  top: 1294px;
  display: flex;
  justify-content: end;
  justify-items: end;
}

._1 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 500;
  width: 40px;
  position: absolute;
  left: 275px;
  top: 1294px;
  display: flex;
  justify-content: end;
  justify-items: end;
}

.serv {
  color: var(--verde, #1fb996);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 270.9px;
  top: 1243px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.rectangle-19 {
  background: var(--verde, #1fb996);
  width: 277px;
  height: 2px;
  position: absolute;
  left: 37px;
  top: 1273px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}

.rectangle-192 {
  min-width: 737px;
  height: 28px;
  position: relative;
  display: inline-grid;
}

.group-22 {
  position: absolute;
  inset: 0;
  height: 0px;
  top: 15px;
}

.rectangle-20 {
  background: #ffffff;
  border-radius: 15px;
  width: 335px;
  height: 334px;
  position: absolute;
  left: calc(50% - 167.5px);
  top: 1540px;
}

.encargada2 {
  color: var(--verde, #1fb996);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 35px;
  top: 1570px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.importe2 {
  color: var(--verde, #1fb996);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 163px;
  top: 1570px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.luc-a {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 500;
  width: 110px;
  position: absolute;
  left: 35.3px;
  top: 1621px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

._355 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 500;
  width: 80px;
  position: absolute;
  left: 155px;
  top: 1621px;
  display: flex;
  justify-content: end;
  justify-items: end;
}

._2 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 18px;
  line-height: 125%;
  font-weight: 500;
  width: 40px;
  position: absolute;
  left: 275px;
  top: 1621px;
  display: flex;
  justify-content: end;
  justify-items: end;
}

.serv2 {
  color: var(--verde, #1fb996);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 270.9px;
  top: 1570px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.rectangle-21 {
  background: var(--verde, #1fb996);
  width: 277px;
  height: 2px;
  position: absolute;
  left: 37px;
  top: 1600px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}

.ellipse-17 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 91px;
  top: 163px;
}

.ellipse-172 {
  background: #de5753;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}

.ellipse-172-1 {
  background: green;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}

.rectangle-104 {
  top: 5px;
  left: 29px;
  width: 295px;
  height: 28px;
  position: relative;
  display: inline-grid;
}

.icon {
  width: 3.2%;
  height: 1.22%;
  position: absolute;
  right: 5.33%;
  left: 278px;
  bottom: 75.65%;
  top: 447px;
  overflow: visible;
}

.icon2 {
  width: 3.2%;
  height: 1.22%;
  position: absolute;
  right: 88.27%;
  left: 75px;
  bottom: 74.44%;
  top: 471px;
  transform: translate(-13px, -24.68px);
  overflow: visible;
}

.group-105 {
  margin-left: -24px;
  position: absolute;
  top: 0px;
}

.ellipse-21 {
  background: var(--verde-oscuro, #0b9a7a);
  border-radius: 50%;
  width: 7px;
  height: 7px;
  position: absolute;
  left: 324px;
  top: 20px;
}

.ellipse-22 {
  background: var(--verde-oscuro, #0b9a7a);
  border-radius: 50%;
  width: 7px;
  height: 7px;
  position: absolute;
  left: 336px;
  top: 20px;
}

.ellipse-23 {
  background: var(--verde-oscuro, #0b9a7a);
  border-radius: 50%;
  width: 7px;
  height: 7px;
  position: absolute;
  left: 348px;
  top: 20px;
}

.paginator {
  position: absolute;
  display: grid;
  top: 465px;
  // top: 369px;
  right: 13px;
  align-items: end;
}

.paginator ::ng-deep .ngx-pagination .current {
  background: transparent;
  color: black;
}

.paginatorTherapist {
  position: absolute;
  display: grid;
  top: 1599px;
  right: 12px;
  align-items: end;
}

.paginatorTherapist ::ng-deep .ngx-pagination .current {
  background: transparent;
  color: black;
}

.paginatorManager {
  position: absolute;
  display: grid;
  top: 1908px;
  right: 12px;
  align-items: end;
}

.paginatorManager ::ng-deep .ngx-pagination .current {
  background: transparent;
  color: black;
}