.visi-n-general,
.visi-n-general * {
  box-sizing: border-box;
}

ion-grid {
  background: var(--verde-claro, #e8f2ef);
  width: -webkit-fill-available;
  height: 2096px;
  position: absolute;
  left: 0px;
  top: 0px;
}

.visi-n-general {
  height: 1971px;
  position: relative;
}

.bienvenida-carolina {
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 30px;
  line-height: 100%;
  font-weight: 400;
  position: absolute;
  left: 17px;
  top: 69px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.bienvenida-carolina-span {
  color: #7f7c7c;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  line-height: 100%;
  font-weight: 400;
}

.bienvenida-carolina-span2 {
  color: #a6a6a6;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  line-height: 100%;
  font-weight: 400;
}

.bienvenida-carolina-span3 {
  color: var(--verde, #1fb996);
  font-family: "Inter-Bold", sans-serif;
  font-size: 30px;
  line-height: 100%;
  font-weight: 700;
}

.group-32 {
  position: absolute;
  inset: 0;
}

.rectangle-18 {
  background: #ffffff;
  border-radius: 15px;
  width: 335px;
  height: 364px;
  position: absolute;
  left: calc(50% - 167.5px);
  top: 160px;
}

.visi-n-general2 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 42px;
  top: 188px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.steven {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 42px;
  top: 273px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._0 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 223px;
  top: 273px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._fin {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 150px;
  top: 273px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._salida {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 282px;
  top: 273px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.fin {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 150px;
  top: 229px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.min {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 213px;
  top: 229px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.salida {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 400;
  position: absolute;
  left: 282px;
  top: 229px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.rectangle-23 {
  background: #3c3c3c;
  width: 293px;
  height: 2px;
  position: absolute;
  left: 44px;
  top: 256px;
}

.vector {
  width: 24.17px;
  height: 24.17px;
  position: absolute;
  left: 313.42px;
  top: 188.42px;
  display: grid;
  overflow: visible;
}

.group-17 {
  position: absolute;
  height: 0%;
  inset: 0;
}

.group-2 {
  width: 122px;
  height: 30px;
  position: static;
}

._28-de-enero {
  color: var(--verde-oscuro, #0b9a7a);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 59.5px);
  top: 563px;
  width: 118px;
  height: 29px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.rectangle-10 {
  background: var(--verde-oscuro, #0b9a7a);
  border-radius: 30px;
  width: 122px;
  height: 2px;
  position: absolute;
  left: calc(50% - 61.5px);
  top: 591px;
}

.rectangle-11 {
  background: #ffffff;
  border-radius: 15px;
  width: 335px;
  height: 321px;
  position: absolute;
  left: calc(50% - 167.5px);
  top: 621px;
}

.servicios {
  color: var(--verde, #1fb996);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 42px;
  top: 651px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.tratamientos {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 43px;
  top: 702px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._35 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 500;
  position: absolute;
  left: 279px;
  top: 702px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.propina {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 43px;
  top: 729px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._08 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 500;
  position: absolute;
  left: 279px;
  top: 729px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.taxi {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 43px;
  top: 756px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.vitaminas {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 43px;
  top: 783px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._09 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 500;
  position: absolute;
  left: 279px;
  top: 756px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._010 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 500;
  position: absolute;
  left: 279px;
  top: 783px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.tabaco {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 43px;
  top: 811px;
  width: 58px;
  height: 19px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._011 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 500;
  position: absolute;
  left: 279px;
  top: 810px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.otros {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 43px;
  top: 894px;
  width: 44px;
  height: 17px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._012 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 500;
  position: absolute;
  left: 279px;
  top: 837px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.bebida-casa {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 43px;
  top: 837px;
  width: 95px;
  height: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._013 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 500;
  position: absolute;
  left: 279px;
  top: 864px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.bebida-terapeuta {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 43px;
  top: 865px;
  width: 135px;
  height: 19px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._014 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 500;
  position: absolute;
  left: 279px;
  top: 891px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._352 {
  color: var(--verde, #1fb996);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 279px;
  top: 651px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.rectangle-17 {
  background: var(--verde, #1fb996);
  width: 299px;
  height: 2px;
  position: absolute;
  left: calc(50% - 149.5px);
  top: 681px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}

.group-20 {
  position: absolute;
  height: 0%;
  inset: 0;
}

.rectangle-12 {
  background: #ffffff;
  border-radius: 15px;
  width: 335px;
  height: 321px;
  position: absolute;
  left: calc(50% - 167.5px);
  top: 965px;
}

.cobros {
  color: var(--verde, #1fb996);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 42px;
  top: 995px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.tratamientos2 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 42px;
  top: 1046px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._353 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 279px;
  top: 1046px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.efectivo {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 500;
  position: absolute;
  left: 58px;
  top: 1073px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._20 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 500;
  position: absolute;
  left: 279px;
  top: 1073px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.bizum {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 500;
  position: absolute;
  left: 58px;
  top: 1100px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._15 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 500;
  position: absolute;
  left: 279px;
  top: 1100px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.tarjeta {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 500;
  position: absolute;
  left: 58px;
  top: 1127px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.transferencia {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 500;
  position: absolute;
  left: 58px;
  top: 1154px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._015 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 500;
  position: absolute;
  left: 279px;
  top: 1127px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._016 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 500;
  position: absolute;
  left: 279px;
  top: 1154px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.terapeuta {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 42px;
  top: 1181px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._017 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 279px;
  top: 1181px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.encargada {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 42px;
  top: 1208px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._018 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 279px;
  top: 1208px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.taxista {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 42px;
  top: 1235px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._019 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 279px;
  top: 1235px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._354 {
  color: var(--verde, #1fb996);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 279px;
  top: 995px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.rectangle-172 {
  background: var(--verde, #1fb996);
  width: 299px;
  height: 2px;
  position: absolute;
  left: calc(50% - 149.5px);
  top: 1025px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}

.group-21 {
  position: absolute;
  height: 0%;
  inset: 0;
}

.rectangle-182 {
  background: #ffffff;
  border-radius: 15px;
  width: 335px;
  height: 294px;
  position: absolute;
  left: calc(50% - 167.5px);
  top: 1309px;
}

.terapeuta2 {
  color: var(--verde, #1fb996);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 42px;
  top: 1339px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.importe {
  color: var(--verde, #1fb996);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 178px;
  top: 1339px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.mar-a2 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 42px;
  top: 1390px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._152 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 500;
  position: absolute;
  left: 218px;
  top: 1390px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._1 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 500;
  position: absolute;
  left: 328px;
  top: 1390px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.serv {
  color: var(--verde, #1fb996);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 291px;
  top: 1339px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.rectangle-19 {
  background: var(--verde, #1fb996);
  width: 299px;
  height: 2px;
  position: absolute;
  left: calc(50% - 149.5px);
  top: 1369px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}

.rectangle-192 {
  min-width: 737px;
  height: 28px;
  position: relative;
  display: inline-grid;
}

.group-22 {
  position: absolute;
  height: 0%;
  inset: 0;
}

.rectangle-20 {
  background: #ffffff;
  border-radius: 15px;
  width: 335px;
  height: 294px;
  position: absolute;
  left: calc(50% - 167.5px);
  top: 1626px;
}

.encargada2 {
  color: var(--verde, #1fb996);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 42px;
  top: 1656px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.importe2 {
  color: var(--verde, #1fb996);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 178px;
  top: 1656px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.luc-a {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 42px;
  top: 1707px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._355 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 500;
  position: absolute;
  left: 220px;
  top: 1707px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

._2 {
  color: #3c3c3c;
  text-align: left;
  font-family: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 500;
  position: absolute;
  left: 328px;
  top: 1707px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.serv2 {
  color: var(--verde, #1fb996);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  line-height: 125%;
  font-weight: 700;
  position: absolute;
  left: 291px;
  top: 1656px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.rectangle-21 {
  background: var(--verde, #1fb996);
  width: 299px;
  height: 2px;
  position: absolute;
  left: calc(50% - 149.5px);
  top: 1686px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
}

.ellipse-17 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 121px;
  top: 279px;
}

.ellipse-172 {
  background: #de5753;
  border-radius: 50%;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}

.ellipse-172-1 {
  background: var(--verde, #1fb996);
  border-radius: 50%;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}

.ellipse-172-2 {
  background: var(--verde, #1fb996);
  border-radius: 50%;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
}

.rectangle-104 {
  min-width: 737px;
  height: 28px;
  position: relative;
  display: inline-grid;
}

.ellipse-173 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 121px;
  top: 309px;
}

.ellipse-174 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 121px;
  top: 370px;
}

.ellipse-175 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 121px;
  top: 402px;
}

.ellipse-176 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 121px;
  top: 432px;
}

.ellipse-177 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 121px;
  top: 340px;
}

.ellipse-178 {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 121px;
  top: 464px;
}

.icon {
  height: auto;
  position: absolute;
  right: 5.33%;
  left: 86.47%;
  width: 13.2%;
  bottom: 70.07%;
  top: 28.72%;
  height: 1.22%;
  overflow: visible;
}

.icon_1 {
  position: absolute;
}

.icon2 {
  height: auto;
  position: absolute;
  right: 88.27%;
  left: 3.6%;
  width: 13.2%;
  bottom: 68.85%;
  top: 29.93%;
  height: 1.22%;
  transform: translate(-13px, -25px);
  overflow: visible;
}

.group-105 {
  position: relative;
  inset: 0;
}

.ellipse-21 {
  background: var(--verde-oscuro, #0b9a7a);
  border-radius: 50%;
  width: 7px;
  height: 7px;
  position: absolute;
  left: 324px;
  top: 69px;
}

.ellipse-22 {
  background: var(--verde-oscuro, #0b9a7a);
  border-radius: 50%;
  width: 7px;
  height: 7px;
  position: absolute;
  left: 336px;
  top: 69px;
}

.ellipse-23 {
  background: var(--verde-oscuro, #0b9a7a);
  border-radius: 50%;
  width: 7px;
  height: 7px;
  position: absolute;
  left: 348px;
  top: 69px;
}

.barra {
  background: #ffffff;
  width: 375px;
  height: 79px;
  position: sticky;
  left: calc(50% - 187.5px);
  bottom: 0px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.group-104 {
  height: auto;
  position: absolute;
  left: 39px;
  top: 18px;
  overflow: visible;
}